[2021-12-18 23:22] JaydenDev opened #1 "It all starts here..."
Lets start...

[2021-12-18 23:28] hello-smile6 commented on #1
Hmm, let's get this set up. Here's a shell script you might want to use for setting this up.
[code]
I think that'd work.

[2021-12-18 23:29] JaydenDev commented on #1
It's already set up

[2021-12-18 23:29] JaydenDev commented on #1
No, this is completely from scratch. No FreeCat code allowed

[2021-12-18 23:29] hello-smile6 commented on #1
I know that it is.

[2021-12-18 23:29] JaydenDev commented on #1
Now, we start on the UI. No backend yet, the UI.

[2021-12-18 23:29] JaydenDev commented on #1
The index.html file should be the organized focus.
And choosing a CSS framework

[2021-12-18 23:31] hello-smile6 commented on #1
Why not use `/dev/null` for a CSS framework?

[2021-12-18 23:32] JaydenDev commented on #1
why use a black hole as a CSS framework

[2021-12-18 23:33] hello-smile6 commented on #1
Hmm, why not make a NodeJS runtime for scratch-vm and expose Electron APIs through extensions? Then we wouldn't have any more errors.

[2021-12-18 23:33] hello-smile6 commented on #1
Because it's better to use original code.

[2021-12-18 23:33] JaydenDev commented on #1
This'll be so much easier with a framework ...

[2021-12-18 23:34] hello-smile6 commented on #1
Let's make our own framework! Could you move this to a github org?

[2021-12-18 23:34] JaydenDev commented on #1
NO! I already said NO!
IM NOT LETTING YOU MAKE A MESS AGAIN

[2021-12-18 23:35] hello-smile6 commented on #1
Okay, I get it!

[2021-12-18 23:38] JaydenDev commented on #1
The point of this redoing of the browser is to NOT make the same mistakes.
Your mistakes repeat if you have any control over anything.

[2021-12-18 23:39] hello-smile6 commented on #1
I'm not asking for control. I'm asking for a 1-person org with just you, similar to @Turbowarp or @llk

[2021-12-18 23:41] JaydenDev commented on #1
the focus is getting Catalyst started not making stupid decisions with the repository. Focus on the ACTUAL PROJECT.

[2021-12-18 23:42] hello-smile6 commented on #1
Okay. Just saying, this won't go very well if you abuse potential contributors.

[2021-12-18 23:43] JaydenDev commented on #1
I did nothing wrong, just people are distracted by the least important things. Slowing development.

[2021-12-18 23:44] hello-smile6 commented on #1
Hmm, I feel like I'm going to make my own Electron browser instead.

[2021-12-18 23:44] JaydenDev commented on #1
Go right along ahead, I'll just fail behind

[2021-12-18 23:45] JaydenDev commented on #1
I'll just manage all my repositories when I already struggle to manage them all.

[2021-12-18 23:45] hello-smile6 commented on #1
Corrected your post to reflect reality.

[2021-12-18 23:46] JaydenDev commented on #1
I suck at coding back end... the front end is goin great but how the heck do i...

[2021-12-18 23:47] hello-smile6 commented on #1
You don't suck.

[2021-12-19 00:04] hello-smile6 commented on #1
@JaydenDev Could you look at https://github.com/SpellCheckJS/SpellCheckJS/discussions/3 ?

[2021-12-19 00:05] JaydenDev commented on #1
when i click the button it doesn't load the website into webview.. its enabled idk check main.js and index.html

[2021-12-19 00:05] hello-smile6 commented on #1
Strange.

[2021-12-19 00:06] JaydenDev commented on #1
also check src/ and the javascript files.
why when button press webview no show website in search box

[2021-12-19 00:07] hello-smile6 commented on #1
Not sure.

[2021-12-19 00:12] JaydenDev commented on #1
I did it all myself so i probably did something wrong... cann you check the files i listed.

[2021-12-19 00:13] hello-smile6 commented on #1
Sure. I'll get a local copy.

[2021-12-19 01:01] JaydenDev commented on #1
Once it's working I'll get reload back and forward buttons working it's very easy with built in web view functions

[2021-12-19 01:15] hello-smile6 commented on #1
Okay.

[2021-12-19 01:40] webdev03 commented on #1
https://tailwindcss.com

[2021-12-19 01:42] hello-smile6 commented on #1
Agreed.

[2021-12-19 01:49] JaydenDev commented on #1
Ninetails uses tailwind so I can't be making a complete copy of the UI

[2021-12-19 01:51] hello-smile6 commented on #1
Just don't steal code from them. It's not a complete copy unless you make it that way.

[2021-12-19 02:25] kccuber-scratch commented on #1
please stop distracting. this is why freecat failed to actually go anywhere.

[2021-12-19 02:30] JaydenDev commented on #1
Does anybody know why the webview page doesn't change to the website put into the URL bar when the "GO" button is clicked.

[2021-12-19 02:45] JaydenDev commented on #1
I found and fixed the issues

[2021-12-19 02:46] JaydenDev commented on #1
now its working just gotta get the webview to take full size

[2021-12-19 02:52] #1 closed

[2021-12-19 02:52] JaydenDev opened #4 "WebView doesn't take full available space"
The webview takes full width but not height.

[2021-12-19 18:28] FunctionalMetatable commented on #4
use `100vh` instead of `100%`

[2021-12-19 18:29] JaydenDev commented on #4
wha wutt

[2021-12-19 18:33] hello-smile6 commented on #4
That's what I'm always thinking!!!

[2021-12-19 18:56] JaydenDev commented on #4
I've changed all the 100%s, it still doesn't work.

[2021-12-19 18:56] hello-smile6 commented on #4
What file?

[2021-12-19 19:00] JaydenDev commented on #4
Affected Files:
/index.html

Bugs:
Webview not taking entire space

[2021-12-19 19:01] hello-smile6 commented on #4
Where's the STYLESHEET?

[2021-12-19 19:02] JaydenDev commented on #4
I fixed it
btw materialize is the framework in use
Material UI Design

[2021-12-19 19:02] #4 closed

[2021-12-19 19:03] JaydenDev commented on #4
Closing issue, moving development to step to
Forward, Reload, Back buttons

[2021-12-19 19:04] JaydenDev opened #6 "Forward, Back, Reload."
I handled the UI and buttons in index.html
*couldn't get the fontawesome icons working though*

The functions just have to be handled

Remember all javascript goes in /src/

[2021-12-19 19:07] JaydenDev commented on #4
#6

[2021-12-19 19:23] JaydenDev commented on #6
I got reload done

[2021-12-19 19:26] JaydenDev commented on #6
alright now back and forward are both done

[2021-12-19 19:30] #6 closed

[2021-12-19 19:30] VelocityDesign commented on #6
Yay!

[2021-12-19 19:31] JaydenDev commented on #6
@VelocityDesign dont get too happy yet
I still can't get font awesome icons to work

[2021-12-19 19:32] JaydenDev opened #9 "Forward, Reload, Back, Go buttons need icons. Font awesome dont work"
I handled the UI and buttons in index.html
*couldn't get the fontawesome icons working though*

The icons just have to be handled

[2021-12-19 19:34] JaydenDev commented on #6
#9

[2021-12-19 19:49] VelocityDesign commented on #9
Did you say that fontawesome was good now?

[2021-12-19 19:50] JaydenDev commented on #9
yes, remake your recent PR tho

[2021-12-19 19:51] #9 closed

[2021-12-19 19:52] JaydenDev opened #12 "What features to add next...?"
?

[2021-12-19 19:52] JaydenDev commented on #12
@VelocityDesign wanna go ahead and apply your icon?

[2021-12-19 19:53] VelocityDesign commented on #12
Yeah I can get that working

[2021-12-19 19:54] JaydenDev commented on #12
k great, i'll be thinking of new features.

[2021-12-19 19:54] VelocityDesign commented on #12
You should consider adding the Projects feature w/ kanban boards for feature requests, working on, and finished.

[2021-12-19 19:56] JaydenDev commented on #12
i'll get that setup later...
anyway

[2021-12-19 19:56] JaydenDev commented on #12
i need the search bar to have just enough width for the 4 buttons to be on the first line

[2021-12-19 19:57] VelocityDesign commented on #12
I know HTML so I can work on that. I'm not as good at NodeJS.

[2021-12-19 19:58] JaydenDev commented on #12
k!

[2021-12-19 20:08] hello-smile6 commented on #12
I could do that in 2 minutes, but I won't.

[2021-12-19 20:09] JaydenDev commented on #12
@hello-smile6 ok? so why bother being here then.

[2021-12-19 20:14] hello-smile6 commented on #12
You've been rude to me. I'm not tolerating it.

[2021-12-19 20:15] VelocityDesign commented on #12
If you are not going to help, please do not clutter the forums, discussions, issues, and PRs.

[2021-12-19 20:15] JaydenDev commented on #12
@hello-smile6
look, I try not to be. But when my point never gets across... I have to try harder to get you to NOT break things.

[2021-12-19 20:16] hello-smile6 commented on #12
Tell that to @webdev03 , they never even broke anything.

[2021-12-19 20:17] JaydenDev commented on #12
Who's idea was it to use prettier?

[2021-12-19 20:18] JaydenDev commented on #12
arguments slow progress!

[2021-12-19 20:18] hello-smile6 commented on #12
Let me find the first comment referencing it.

[2021-12-19 20:19] VelocityDesign commented on #12
@JaydenDev @hello-smile6 Can you move this to discussions or some other place? It's irrelevant to this issue...

[2021-12-19 20:19] JaydenDev commented on #12
Back on topic
what features?

[2021-12-19 20:19] JaydenDev commented on #12
UI Tweaks:

Make buttons consistently positioned no matter what the Window size.

[2021-12-19 20:20] hello-smile6 commented on #12
How about a GitHub workflow so people can ban theirselves and avoid going insane?

[2021-12-19 20:20] VelocityDesign commented on #12
UI Tweaks:
Add Logo
Use Logo's Color Scheme

[2021-12-19 20:22] JaydenDev commented on #12
yeah

[2021-12-19 20:22] hello-smile6 commented on #12
To who?

[2021-12-19 20:22] JaydenDev commented on #12
not to you for sure

[2021-12-19 20:23] hello-smile6 commented on #12
What?

[2021-12-19 20:23] JaydenDev commented on #12
ugh just ignore em.
Catalyst will improve

[2021-12-19 20:24] JaydenDev commented on #12
also
https://materializecss.com
read the docs if you ever gotta do front-end changes

[2021-12-19 20:24] VelocityDesign commented on #12
Can you clean up the thread a bit?

[2021-12-19 20:24] JaydenDev commented on #12
i gotta do a quick change real quick

[2021-12-19 20:26] hello-smile6 commented on #12
Done. Hid all of my posts as off-topic.

[2021-12-19 20:29] hello-smile6 commented on #6
Where does the rest go? `/dev/fb0`?

[2021-12-19 20:29] JaydenDev commented on #12
I'm not liking the colors of Materialize so much, I don't know how to implement tailwind

[2021-12-19 20:30] hello-smile6 commented on #12
Add this to `<head>`
[code]

[2021-12-19 20:31] JaydenDev commented on #12
I gotta do a whole bunch of junk when I use that method.
Is there a direct CSS file I can link?

[2021-12-19 20:31] JaydenDev commented on #12
i'd prefer to only have to use one line

[2021-12-19 20:31] hello-smile6 commented on #12
No, there isn't. You add it, then you use element classes instead of stylesheets. Pretty ridiculous to do, in my opinion. Personally, I'd use dreamcss.

[2021-12-19 20:32] JaydenDev commented on #12
ok

[2021-12-19 20:33] JaydenDev commented on #12
what tailwind classes should I use for the buttons

[2021-12-19 20:34] hello-smile6 commented on #12
[code]

[2021-12-19 20:37] JaydenDev commented on #12
ok tailwind is doing more harm than good

[2021-12-19 20:37] hello-smile6 commented on #12
Time to `rm -rf` it?

[2021-12-19 20:39] JaydenDev commented on #12
im ditching CSS frameworks, I'm makin my own now. This is just too painful

[2021-12-19 20:40] hello-smile6 commented on #12
DreamCSS would be good for any webview-based pages.

[2021-12-19 20:40] VelocityDesign commented on #12
I'm decent at CSS. I could help with style if you'd like.
My site (Built from scratch): https://jtechnologies.xyz/

[2021-12-19 20:41] JaydenDev commented on #12
Well I'll do the buttons wanna do the search bar?

[2021-12-19 20:41] VelocityDesign commented on #12
Sure

[2021-12-19 20:42] VelocityDesign commented on #12
Do you want me to implement something like the safari accent color when I do?

[2021-12-19 20:42] hello-smile6 commented on #12
@VelocityDesign Not all by you, it looks like.
[code]

[2021-12-19 20:43] VelocityDesign commented on #12
That's just something that CF put in there. I don't have anything else.

[2021-12-19 20:43] JaydenDev commented on #12
Well I'm trying to style the buttons and it already sucks
ugh
cant even see the buttons lol

[2021-12-19 20:43] VelocityDesign commented on #12
Want me to do it?

[2021-12-19 20:44] JaydenDev commented on #12
sure the file is styles.css

[2021-12-19 20:44] JaydenDev commented on #12
darn i make a css framework every time i write css...

[2021-12-19 20:44] webdev03 commented on #12
can't you use tailwind jit?

[2021-12-19 20:44] JaydenDev commented on #12
i've tried tailwind its a mess using it

[2021-12-19 20:44] JaydenDev commented on #12
I've tried dream.css as well.

[2021-12-19 20:45] hello-smile6 commented on #12
Huh.
[code]
[code]
https://forum.yunohost.org/t/content-security-policy-problem-with-custom-webapp/8161

[2021-12-19 20:45] JaydenDev commented on #12
stop exposing people and just do something else

[2021-12-19 20:46] JaydenDev commented on #12
@VelocityDesign you can make a pr and mark it as unfinished so i can see progress.

[2021-12-19 20:46] hello-smile6 commented on #12
Fine. :( I'll go work on @SpellCheckJS

[2021-12-19 20:47] JaydenDev commented on #12
Darn avoiding stealing code from other projects makes everything hard.
I'm much better at pressing CTRL + C and CTRL + V than I am at coding.

[2021-12-19 20:48] JaydenDev commented on #12
i want the forward reload and back buttons to be styled similarly to Ninetails.. not exact.

[2021-12-19 20:48] hello-smile6 commented on #12
Huh. Just install Docker and run a custom build of vscode (or, if you insist, vim) in docker which doesn't allow copy/paste and disable networking in docker. Then you won't be able to copy and paste as easily.

[2021-12-19 20:49] JaydenDev commented on #12
thats not what i meant.

[2021-12-19 20:50] hello-smile6 commented on #12
Okay :(

[2021-12-19 20:51] JaydenDev commented on #12
While UI Design is being handled by @VelocityDesign
I'm squashing bugs.
Tabs though... tabs umm tabs. How the heck am i gonna do tabs.

[2021-12-19 20:52] hello-smile6 commented on #12
[code]

[2021-12-19 20:52] JaydenDev commented on #12
I'm not copying code, especially without permission.

[2021-12-19 20:52] JaydenDev commented on #12
Plus the structure of Ninetails's code is far different. I'd have to modify the code a lot anyway to get it to work.

[2021-12-19 21:01] hello-smile6 commented on #12
[code]
That's all it takes. Just run the shell script. 😄 Just putting it out there. If there are syntax issues, tell me and I'll fix them.

[2021-12-19 21:03] JaydenDev commented on #12
Not doing that, not copying code is stupid

[2021-12-19 21:05] hello-smile6 commented on #12
I agree. When something doesn't work, just fork your competitor.

[2021-12-19 21:12] JaydenDev commented on #12
Lmao

[2021-12-19 21:21] JaydenDev commented on #12
haters suck

[2021-12-19 21:30] hello-smile6 commented on #12
???

[2021-12-19 22:07] hello-smile6 commented on #12
Why not?

[2021-12-19 23:14] VelocityDesign commented on #12
I use YunoHost as a port forwarder.

[2021-12-19 23:15] hello-smile6 commented on #12
Why not use https://github.com/binwiederhier/natter?

[2021-12-19 23:37] JaydenDev commented on #12
off topic

[2021-12-19 23:39] hello-smile6 commented on #12
Sorry

[2021-12-19 23:44] JaydenDev opened #15 "Tailwind CSS Implementation"

[2021-12-19 23:51] JaydenDev commented on #15
This is being handled by @webdev03

[2021-12-19 23:54] hello-smile6 commented on #15
Then assign it to them

[2021-12-20 00:30] webdev03 commented on #15
Fixed by #16

[2021-12-20 00:35] JaydenDev commented on #15
Alright, now I will start researching the documentation to make the new UI.

[2021-12-20 00:36] JaydenDev commented on #15
It looks like @webdev03 did make the UI but I'm not seeing it for some reason...

[2021-12-20 00:36] JaydenDev commented on #15
i just see a regular no CSS page

[2021-12-20 00:38] JaydenDev commented on #15
I'm dumb, I had to run npm run dev

[2021-12-20 00:38] hello-smile6 commented on #15
Screenshot?

[2021-12-20 00:38] JaydenDev commented on #15
Just gotta add the forward, back, and reload buttons

[2021-12-20 00:39] webdev03 commented on #15
Yeah you need to run `npm run dev` instead of the old `npm run start` :)

[2021-12-20 00:39] hello-smile6 commented on #15
I'll alias `start` as `dev`

[2021-12-20 00:40] webdev03 commented on #15
No DON'T!
That will BREAK IT!

[2021-12-20 00:40] webdev03 commented on #15
THE NPM RUN DEV COMMAND RELIES ON NPM RUN START AND NPM RUN TAILWIND @hello-smile6 sorry for being caps lock

[2021-12-20 00:41] hello-smile6 opened #17 "FOSS Marketing???"
@JaydenDev What the f*** is going on, are you about to start adding telemetry to releases?
https://github.com/JaydenDev/Catalyst/tree/master/marketing

[2021-12-20 00:43] webdev03 commented on #17
No, not in that sense, I think it is icons and stuff.

[2021-12-20 00:44] JaydenDev commented on #17
yeah its icons and stuff
I don't know any word for it

[2021-12-20 00:45] JaydenDev commented on #17
@hello-smile6 assumption is stupid LMAO

[2021-12-20 00:45] JaydenDev opened #18 "Packaging with Electron-Forge"

[2021-12-20 00:46] hello-smile6 commented on #17
Oh, then could @JaydenDev fix it?
[code]

[2021-12-20 00:46] hello-smile6 commented on #17
Sorry

[2021-12-20 00:46] webdev03 commented on #18
I can work on it :smile:

[2021-12-20 00:46] hello-smile6 commented on #18
Me too

[2021-12-20 00:46] webdev03 commented on #18
(You can assign me!)

[2021-12-20 00:47] hello-smile6 commented on #18
What, how were we assigned? We don't have push access!

[2021-12-20 00:47] JaydenDev commented on #18
Just make a PR... I don't want Catalyst to be a mess as well.

[2021-12-20 00:47] hello-smile6 commented on #18
No, how did it let you?

[2021-12-20 00:48] JaydenDev commented on #18
oh... I did it... silently... in the background while nobody was looking.

[2021-12-20 00:49] hello-smile6 commented on #18
Done!!! I win!

[2021-12-20 00:49] hello-smile6 commented on #18
Did what?

[2021-12-20 00:50] JaydenDev commented on #18
assigned developers to the issue
btw you didnt finish it, there's way more you have to add to get building to work

[2021-12-20 00:51] hello-smile6 commented on #18
Did you try it?

[2021-12-20 00:51] JaydenDev commented on #18
no because you didnt even finish the PR

[2021-12-20 00:51] JaydenDev commented on #18
take a look at the package.json in the freecat repo to see what your missing

[2021-12-20 00:52] JaydenDev commented on #18
also dont modify the npm start alias as npm dev depends on it

[2021-12-20 00:52] hello-smile6 commented on #18
Okay, https://github.com/JaydenDev/freecat

[2021-12-20 00:52] hello-smile6 commented on #18
Check ninetails

[2021-12-20 00:52] webdev03 commented on #18
No!
Do not modify `npm start` in any way shape or form!

[2021-12-20 00:53] hello-smile6 commented on #18
CHECK NINETAILS!!!

[2021-12-20 00:53] webdev03 commented on #18
Ninetails is different. I will see.

[2021-12-20 00:53] hello-smile6 commented on #18
Electron == electron

[2021-12-20 00:53] webdev03 commented on #18
Oh, now I know what you mean.

[2021-12-20 00:53] JaydenDev commented on #18
Ninetails has a completely different system of inner workings

[2021-12-20 00:54] hello-smile6 commented on #18
lol

[2021-12-20 00:54] hello-smile6 commented on #18
@MystPi Is this correct?

[2021-12-20 00:58] JaydenDev commented on #15
Can you build on your earlier tailwind PR and add the forward back and reload buttons back?

[2021-12-20 00:59] hello-smile6 commented on #15
OBVIOUSLY!

[2021-12-20 00:59] webdev03 commented on #15
https://github.com/JaydenDev/Catalyst/issues/15#issuecomment-997497157

[2021-12-20 01:00] hello-smile6 commented on #15
Just realized

[2021-12-20 01:00] JaydenDev commented on #15
I think its simple enough for me to readd the buttons myself... i hope

[2021-12-20 01:00] webdev03 commented on #15
You should do it on play.tailwindcss.com it will help!

[2021-12-20 01:02] JaydenDev commented on #15
errrrrr ummm ohhhh' esfdfds
the icons dont work

[2021-12-20 01:02] JaydenDev commented on #15
ive pushed my changes
git pull and run it  you'll see the problem.

[2021-12-20 01:03] webdev03 commented on #15
Hmm. let me see.

[2021-12-20 01:07] JaydenDev commented on #15
the buttons look wrong but they do their functions just fine.

[2021-12-20 01:08] webdev03 commented on #15
Which buttons?

[2021-12-20 01:08] hello-smile6 commented on #15
[code]

[2021-12-20 01:09] hello-smile6 commented on #15
For once, I'm not writing a whole shell script.
<details>
<summary>Test</summary>
It works!!!
</details>

[2021-12-20 01:10] #18 closed

[2021-12-20 01:11] JaydenDev commented on #15
oh was font awesome removed from package.json?

[2021-12-20 01:12] JaydenDev commented on #15
i installed it and it still doesnt show the icons

[2021-12-20 01:12] webdev03 commented on #15
Hmm...

[2021-12-20 01:13] hello-smile6 commented on #15
Don't apply the classes to the `<i>`. Apply them to the `<button>`.

[2021-12-20 01:14] JaydenDev commented on #15
oh ok
btw @webdev03
your electron-forge PR works I successfuly built working binaries

[2021-12-20 01:15] webdev03 commented on #15
I don't know if MystPi would like it as now that we have Tailwind we are so close to copying, but we could implement automatic builds...

[2021-12-20 01:15] JaydenDev commented on #15
yeah we are a bit too close

just get the buttons fixed and I'll release a the bi-daily beta build

[2021-12-20 01:16] hello-smile6 commented on #15
@MystPi _Do_ you like it?

[2021-12-20 01:16] JaydenDev commented on #15
*the button icons

[2021-12-20 01:16] webdev03 commented on #15
How do the button icons work? Font awesome? Also the browsing doesn't work..

[2021-12-20 01:16] JaydenDev commented on #15
font awesome yes

[2021-12-20 01:16] webdev03 commented on #15
OK.

[2021-12-20 01:17] JaydenDev commented on #15
Could you post screenshots of whats goin in dev console

[2021-12-20 01:19] JaydenDev commented on #15
make a new issue post, im closing this one as fixed.

[2021-12-20 01:19] #17 closed

[2021-12-20 01:20] hello-smile6 commented on #15
Is it fixed?

[2021-12-20 01:21] webdev03 commented on #15
We already added Tailwind.

[2021-12-20 01:22] #15 closed

[2021-12-20 01:23] JaydenDev opened #22 "Icons not showing"
So i've already tried setting the buttons classes for font awesome icons and ive tried <i> tags with the classes it doesnt work

[2021-12-20 01:23] webdev03 commented on #22
Which commit in did it work?

[2021-12-20 01:24] hello-smile6 commented on #15
Oh

[2021-12-20 01:26] hello-smile6 commented on #22
[code]
That explain it?

[2021-12-20 01:35] JaydenDev commented on #22
Your tailwind comment is when it stopped working. Now that I think about it it could of been a directory change

[2021-12-20 01:40] JaydenDev commented on #22
I fixed it

[2021-12-20 01:40] #22 closed

[2021-12-20 01:41] webdev03 commented on #22
I was about to fix it, with Bootstrap icons, it works. But I guess you fixed it?

[2021-12-20 01:41] hello-smile6 commented on #22
Use your version!!!

[2021-12-20 01:41] webdev03 commented on #22
Nah, it's fine.

[2021-12-20 01:41] hello-smile6 commented on #22
I want yours!!!

[2021-12-20 01:46] JaydenDev opened #23 "Tabs"
It's what Catalyst is missing... what it needs to be a huge success...
I don't CARE if you take SOME code from Ninetails just credit em.
Use APIs fine idc just fine a cross platform method of TABS :DDD

[2021-12-20 01:47] webdev03 commented on #23
Hmm, okay, I can try later...

[2021-12-20 01:48] hello-smile6 commented on #23
I can give you tabs!!!

[2021-12-20 01:51] JaydenDev commented on #23
So umm
[code]
this error when installing Catalyst

[2021-12-20 01:51] JaydenDev commented on #23
looks like im daily driving Catalyst...

[2021-12-20 01:51] webdev03 commented on #23
Huh... what? It conflicts with ninetails. Maybe electron?

[2021-12-20 01:51] hello-smile6 commented on #23
`sudo rm -rf /usr/lib/.build-id/ae/95cfe865250b789af383a3d41377f602ec8ef9`, I'd say. But do `ls -lA /usr/lib/.build-id/ae/95cfe865250b789af383a3d41377f602ec8ef9` first.

[2021-12-20 01:52] JaydenDev commented on #23
FreeCat didn't..

[2021-12-20 01:52] hello-smile6 commented on #23
Strange.

[2021-12-20 01:52] JaydenDev commented on #23
also the icons dont work in the built version which is prolly an issue on my end

[2021-12-20 01:53] hello-smile6 commented on #23
Try enabling nodeIntegration and using `path.join`

[2021-12-20 01:54] JaydenDev commented on #23
[code]
?

[2021-12-20 01:55] hello-smile6 commented on #23
add it right below `webviewTag: true`, then you can use Node in webpage JS.

[2021-12-20 01:56] JaydenDev commented on #23
ok

[2021-12-20 01:56] JaydenDev commented on #23
its not that easy... it didnt work

[2021-12-20 01:57] hello-smile6 commented on #23
Make sure you don't use `innerHTML`, `document.write`, or `eval` with it enabled, though.

[2021-12-20 01:57] hello-smile6 commented on #23
Could you push to a new branch so I could see?

[2021-12-20 01:57] JaydenDev commented on #23
i dont use either, but it didnt work
it built but the icons dont show

no, one branch, main. its all thats needed

[2021-12-20 01:58] JaydenDev commented on #23
i pushed my changes

[2021-12-20 01:58] hello-smile6 commented on #23
Now, use `icon.src=path.join(__dirname,icon_url)` to set the icon URL.

[2021-12-20 01:58] JaydenDev commented on #23
umm the font awesome icons don't work like that

[2021-12-20 01:59] JaydenDev commented on #23
can you do it all in a PR i have to go..

[2021-12-20 02:29] JaydenDev commented on #23
tabs how

[2021-12-20 02:35] JaydenDev commented on #23
Tabs should be Catalyst Developer's mind right now. Lets all work on TABS :D

[2021-12-20 05:23] webdev03 commented on #23
I'll make some Tailwind for you, sorry for making you wait so much, just wait a few minutes.

[2021-12-20 06:01] webdev03 commented on #23
Okay, well, I did say "I'll make some tailwind for you" but in reality I just modified a bit of Ninetails' awesome CSS, so **please make sure to ask MystPi before using this:**
`index.css`:
[code]

For the HTML:
[code]

[2021-12-20 06:01] webdev03 commented on #23
![image](https://user-images.githubusercontent.com/75148774/146719191-9fb7184a-6eed-4efe-ac2f-e5be08639d95.png)

[2021-12-20 06:08] webdev03 commented on #23
I can add this all in my fork if this is not a direct copy of MystPi's hard work.

[2021-12-20 06:54] webdev03 commented on #23
Okay, I'll work on it, since you are busy.

[2021-12-20 09:46] webdev03 commented on #23
Working on this in #26

[2021-12-20 09:48] webdev03 commented on #23
I did have to use `addEventListener` in the webviews, there was no other option for me. Sorry, I know you don't like them, but they are necessary.

[2021-12-20 15:39] MystPi commented on #18
Please don't mention me on repos I don't contribute to.

[2021-12-20 15:41] MystPi commented on #15
Anyone can use Tailwind; I don't care. Just don't take anything from Ninetails.
**Also please stop mentioning me on repos I don't contribute to!**

[2021-12-20 15:56] JaydenDev commented on #23
its ok,
the tabs are looking good so far

[2021-12-20 19:58] #23 closed

[2021-12-20 20:04] JaydenDev opened #27 "Scratch Log In Bug (From Ninetails code)"
So the scratch log in bug from ninetails has been brought over. It was fixed in the ninetails update tho. Gotta fix it here.

[2021-12-20 20:14] MystPi commented on #27
It's when you have the `x86_64` architecture in a Electron user agent. I've already made an issue on the scratch-www repo (LLK/scratch-www#6395), so they should (hopefully) be aware of it by now.

[2021-12-20 20:14] JaydenDev commented on #27
@MystPi so what action should i take to fix it.

[2021-12-20 20:15] MystPi commented on #27
Set a custom user agent for now, and when/if the ST fixes the bug you can remove it.

[2021-12-20 20:15] JaydenDev commented on #27
So how do I set the user agent and to what

[2021-12-20 20:17] webdev03 commented on #27
I can!

[2021-12-20 20:17] MystPi commented on #27
Use the `useragent` attribute on the webview. You can set it to anything you want.

[2021-12-20 20:17] webdev03 commented on #27
I will fix it, just wait.

[2021-12-20 20:18] JaydenDev commented on #27
@webdev03 ok, btw the actual tabs work fine. Just that one bug then it'll be good to go on to the next features.

[2021-12-20 20:19] JaydenDev commented on #27
If you do want to improve the tabs go ahead, They are good as they are already though.

[2021-12-20 20:20] webdev03 commented on #27
I've fixed the bug. I will work on the tabs, after you merge that in. But test my fix first! I haven't tested yet as it is `emer-fix` (emergency fix lol)

[2021-12-20 20:21] MystPi opened #29 "Please give credit in the README if you use any of my code."
^

[2021-12-20 20:22] JaydenDev commented on #29
alright... doing that now.

[2021-12-20 20:22] MystPi commented on #29
Thank! 😸

[2021-12-20 20:22] #29 closed

[2021-12-20 20:23] JaydenDev commented on #27
issue fixed!

[2021-12-20 20:23] #27 closed

[2021-12-20 20:23] JaydenDev opened #30 "Tabs, part two."
You said you wanted to continue your work on tabs, so I made this.

[2021-12-20 20:25] webdev03 commented on #30
Oh, thanks! I'll post my current work in a draft PR maybe, then, if you don't merge it.

[2021-12-20 20:26] JaydenDev opened #31 "Searching in the search bar."
You shouldn't need to copy any more Ninetails code, so please try not to.

Its as simple as,

if no https:// or http://
then search
duck duck go

right...?

[2021-12-20 20:35] webdev03 commented on #31
I can do that.

[2021-12-20 22:37] kccuber-scratch commented on #31
no not DDG, use startpage, google search results but private and better than bings search results (thats what DDG uses right?)

[2021-12-20 22:55] JaydenDev commented on #31
ddg is the best, I refuse to use some off-brand crap nobody uses

[2021-12-20 23:32] webdev03 commented on #31
I have used Duck duck go. I am not changing it right now. Please give me some time to refine the UX for tabs.

[2021-12-20 23:58] JaydenDev commented on #31
@webdev03 k

[2021-12-21 00:21] webdev03 commented on #31
If they can get "google search results" they connect to google and so you STILL have your search queries sent to google, or am I missing something?

[2021-12-21 00:25] JaydenDev commented on #31
arguments slow progress

[2021-12-21 00:26] webdev03 commented on #31
OK, I am working on favicon.

[2021-12-21 00:50] webdev03 commented on #31
Resolved by #32

[2021-12-21 01:10] #30 closed

[2021-12-21 01:10] #31 closed

[2021-12-21 01:11] #12 closed

[2021-12-21 01:11] JaydenDev opened #33 "Move to discussions to discuss features"

[2021-12-21 22:12] hello-smile6 commented on #18
Sorry

[2021-12-22 02:17] hello-smile6 opened #39 "Add spellcheck"

[2021-12-22 02:38] JaydenDev commented on #39
1. No description or context
2. Constantly bothering about the use of and advertisement of your software in which is not needed

Closing, stop it NOW!

[2021-12-22 02:38] #39 closed

[2021-12-22 02:40] hello-smile6 commented on #39
Sorry, was just wondering. Also, you could use the Electron built-in one.

[2021-12-22 20:25] hello-smile6 opened #46 "Automatic Repository Maintainence"
### Discussed in https://github.com/JaydenDev/Catalyst/discussions/45

<div type='discussions-op-text'>

<sup>Originally posted by **JaydenDev** December 22, 2021</sup>
Goals
- Have packages and binaries built automatically whenever a new release is posted in the releases page.
- Automatically add contributors to README.</div>

[2021-12-22 21:01] webdev03 commented on #46
I'm working on the packages and binaries. Don't worry, I am not copying Ninetails.

[2021-12-22 21:12] webdev03 commented on #46
https://allcontributors.org/docs/en/bot/installation can help with automatically adding contributors

[2021-12-22 21:18] hello-smile6 commented on #46
Nice! Could you add that to my sp project, by chance?

[2021-12-22 21:34] JaydenDev commented on #46
You can't create a tag without making a release.

[2021-12-22 21:34] JaydenDev commented on #46
@webdev03

[2021-12-22 21:37] webdev03 commented on #46
You can!

[2021-12-22 21:38] hello-smile6 commented on #46
You sure?

[2021-12-22 21:39] hello-smile6 opened #50 "Fix license typos"
Should be as easy as running <a href="https://spellcheckjs.github.io/html-client">`SpellCheckJS`</a> on it.

[2021-12-22 21:43] JaydenDev commented on #46
@webdev03 i got it to work but your gh action failed

[2021-12-22 21:44] JaydenDev commented on #50
@hello-smile6 Sir, shut up.

[2021-12-22 21:44] #50 closed

[2021-12-22 21:44] webdev03 commented on #46
Hmm, that's weird.

[2021-12-22 21:45] JaydenDev commented on #46
That's not the problem, the problem is that you uploaded a broken PR. That's a problem.

[2021-12-22 21:45] webdev03 commented on #46
I got it! I know why!
Merge it again.

[2021-12-22 21:46] hello-smile6 commented on #46
What, did you use Prettier?

[2021-12-22 21:46] hello-smile6 commented on #50
I'll just make a PR.

[2021-12-22 21:49] JaydenDev commented on #46
@webdev03 EXACTLY

why did you use prettier
that is strictly banned

[2021-12-22 21:50] webdev03 commented on #46
No, I didn't. Actually, it was a typo.

[2021-12-22 21:50] hello-smile6 commented on #46
What word did you misspell? What was the correct spelling?

[2021-12-22 21:50] webdev03 commented on #46
I forgot to press tab once 🤣 sorry

[2021-12-22 21:50] webdev03 commented on #46
https://github.com/webdev03/Catalyst/runs/4611996477?check_suite_focus=true see it works!

[2021-12-22 21:52] VelocityDesign commented on #46
It doesn't look like that worked @webdev03. The publish script is missing.

[2021-12-22 21:55] webdev03 commented on #46
Yes, just add the package script as
`"publish": "electron-forge publish",`
I didn't want to add it as I was testing it.

[2021-12-22 21:55] JaydenDev commented on #46
@webdev03 it failed again btw

[2021-12-22 21:56] webdev03 commented on #46
#52

[2021-12-22 21:56] VelocityDesign commented on #46
Off-topic:
@JaydenDev See #48

[2021-12-22 22:01] hello-smile6 commented on #46
They already knew. https://github.com/JaydenDev/Catalyst/watchers

[2021-12-22 22:04] JaydenDev commented on #46
it should be built server side, not on my machine.

[2021-12-22 22:05] hello-smile6 commented on #46
Then run whatever you'd run locally using GitHub Actions.

[2021-12-22 22:06] JaydenDev commented on #46
@webdev03 that's what you were supposed to make but didnt when i said i wanted automation

[2021-12-22 22:07] JaydenDev commented on #46
@webdev03 this is supposed to be running server side
An unhandled rejection has occurred inside Forge:
Error: Please set GITHUB_TOKEN in your environment to access these features
    at new GitHub (/home/jmwills/GitHub/Catalyst/node_modules/@electron-forge/publisher-github/src/util/github.ts:36:13)
    at PublisherGithub.publish (/home/jmwills/GitHub/Catalyst/node_modules/@electron-forge/publisher

[2021-12-22 22:07] JaydenDev commented on #46
The way Ninetails has it.

[2021-12-22 22:08] webdev03 commented on #46
Yes, you need to make a tag. `npm run publish` is run on Github actions. Make a tag.

[2021-12-22 22:15] JaydenDev commented on #46
That's what I did but it's not that easy
It requires to much setup more than just building myself.

It's not gonna work
All I want is for me to make a released and have packages uploaded automatically to the release and it all to be server side

[2021-12-22 22:16] hello-smile6 commented on #46
I'll do it

[2021-12-22 22:16] webdev03 commented on #46
Just run
`npm version 0.4.0` or what version you want
then `git push --follow-tags`
then it will start!!!

[2021-12-22 22:18] JaydenDev commented on #46
Not simple it requires getting and setting up environment variables

[2021-12-22 22:18] hello-smile6 commented on #46
I'll do it...

[2021-12-22 22:19] JaydenDev commented on #46
That are hard to get
I want it completely automatic. Streamline it

[2021-12-22 22:19] hello-smile6 commented on #46
I'M GOING!!!

[2021-12-22 22:20] JaydenDev commented on #46
You won't not fail though, you break things so much

[2021-12-22 22:20] hello-smile6 commented on #46
I'm not going to fail. I'll test it on my fork. If it works, I'll demonstrate it.

[2021-12-22 22:21] VelocityDesign commented on #46
Or we could just get permission from Ninetails to use their build thing from GH Actions.

[2021-12-22 22:21] JaydenDev commented on #46
We already take enough code

[2021-12-22 22:22] VelocityDesign commented on #46
*shrugs* your loss...

[2021-12-22 22:23] hello-smile6 commented on #46
I'm over this drama. I'm making my own Electron browser that actually _works_. Want to help me?

[2021-12-22 22:24] webdev03 commented on #46
That is done on github actions. Already done, secrets.GITHUB_TOKEN is automatically provided.

[2021-12-22 22:24] hello-smile6 commented on #46
Their loss.

[2021-12-22 22:24] JaydenDev commented on #46
@webdev03 alright

[2021-12-22 22:25] VelocityDesign commented on #46
@JaydenDev Just listen to what webdev03 is saying. It will take 10x less time to just do that.

[2021-12-22 22:25] JaydenDev commented on #46
@VelocityDesign Its hard to comprehend what the heck anything he makes does

[2021-12-22 22:26] webdev03 commented on #46
Okay, I will write documentation soon.

[2021-12-22 22:26] VelocityDesign commented on #46
Maybe make an org and give him access to secrets? Then he could do config himself.

[2021-12-22 22:27] JaydenDev commented on #46
@VelocityDesign WOAH WOAH WOAH, I know what happened last time I gave someone else write access.
@hello-smile6 broke everything that way

[2021-12-22 22:28] VelocityDesign commented on #46
Only to the secrets. After that, you could remove it. There's a line between insecure and paranoid that you need to find.

[2021-12-22 22:28] webdev03 commented on #46
Secrets, I thought github actions automatically defines `secrets.GITHUB_TOKEN`?

[2021-12-22 22:29] JaydenDev commented on #46
It is getting pushed, check tags. I deleted em tho.

[2021-12-22 22:29] JaydenDev commented on #46
Mistakes repeat unless prevented.

[2021-12-22 22:30] webdev03 commented on #46
https://github.com/JaydenDev/Catalyst/runs/4612290380?check_suite_focus=true Check this out.

[2021-12-22 22:31] JaydenDev commented on #46
@webdev03 nice now tell me how you did it

[2021-12-22 22:31] webdev03 commented on #46
It works. You just need to go to the releases page, edit the things, and release it I guess.
My github action did it.

[2021-12-22 22:33] JaydenDev commented on #46
@webdev03 perfection, now time for goal 2. Contributors being added to README.md automatically.

[2021-12-22 22:33] webdev03 commented on #46
Wait, since you deleted the tag, you couldn't release it... and check the release, the assets aren't there since you released it, not my script.

[2021-12-22 22:34] webdev03 commented on #46
https://github.com/JaydenDev/Catalyst/issues/46#issuecomment-999882986 can be for auto adding contributors, just open an issue for this.

[2021-12-22 22:34] JaydenDev commented on #46
it makes RPM builds right?
im on fedora

[2021-12-22 22:35] VelocityDesign commented on #46
Flatpak > RPM.
I'm on Fedora Silverblue btw

[2021-12-22 22:36] JaydenDev commented on #46
@VelocityDesign I don't need to put any more tasks on these people.

[2021-12-22 22:36] webdev03 commented on #46
Which people?

[2021-12-22 22:37] VelocityDesign commented on #46
I was working on flatpak actually...

[2021-12-22 22:39] JaydenDev commented on #46
oh... but the question is... why?

[2021-12-22 22:39] webdev03 opened #54 "Update notifier"
I can make this if you would like. I can make it a native dialog box.

[2021-12-22 22:39] JaydenDev commented on #46
when there is something I can't do which is a lot of things i have to wait for someone else to do it :(

[2021-12-22 22:40] VelocityDesign commented on #46
It's universal and preferred by the fedora project.

[2021-12-22 22:40] webdev03 commented on #46
By the way, did you see? Your release has all of the exe, zip, and a "nupkg"?

[2021-12-22 22:40] JaydenDev commented on #46
@webdev03 So, the building thing worked! It made a release and added the binaries all i had to do was finish the release and publish it.

[2021-12-22 22:40] JaydenDev commented on #46
yeah

[2021-12-22 22:41] webdev03 commented on #46
@github-actions thanks!

[2021-12-22 22:41] JaydenDev commented on #46
@hello-smile6 sorry dud

[2021-12-22 22:42] JaydenDev commented on #54
I can do the front end and styli-- Nevermind, your HTML is complicated.

[2021-12-22 22:43] VelocityDesign commented on #46
Awesome!

[2021-12-22 22:45] VelocityDesign commented on #46
I can't get it to build my system for some reason.

[2021-12-22 22:47] hello-smile6 commented on #46
What?

[2021-12-22 22:49] hello-smile6 opened #55 "Why can't I comment on some issues???"
I'm confused.

[2021-12-22 22:50] JaydenDev commented on #46
Sorry for being mean

[2021-12-22 22:50] JaydenDev commented on #46
But why flatpaks they take more space than regular packages

[2021-12-22 22:51] JaydenDev commented on #55
Idk bug

[2021-12-22 22:52] webdev03 commented on #54
My html is complicated? We could use Vue or something.

[2021-12-22 22:53] webdev03 commented on #54
Would adding `cross-fetch` to the browser be fine?

[2021-12-22 22:54] hello-smile6 commented on #55
Could you check access? I can't comment on https://github.com/JaydenDev/Catalyst/pull/53 , for example.

[2021-12-22 22:54] VelocityDesign commented on #46
Because they're better than snaps.

[2021-12-22 22:55] JaydenDev commented on #54
idk what that is

also, ya think a browser needs to be done in vue what the... I'm better at HTML and CSS than a language I don't even known existed

[2021-12-22 22:55] webdev03 commented on #54
Okay, `cross-fetch` is an npm library, I will open up a native dialog box (like an info popup on windows, or a rounded thing on mac) if there is an update.

[2021-12-22 22:56] JaydenDev commented on #55
thats... a PR.

[2021-12-22 22:57] JaydenDev commented on #46
why use snaps or flatpaks

[2021-12-22 22:57] hello-smile6 commented on #55
Well, I can't comment on it for some reason.

[2021-12-22 22:58] JaydenDev commented on #54
@webdev03
native dialog boxes... yes

but... You have contributed more code than I, the repo owner, have contributed. I think it being my repo is slowing development down.

[2021-12-22 22:58] JaydenDev commented on #55
@hello-smile6 its cuz its closed, you aren't supposed to comment on closed PRs.

[2021-12-22 22:59] VelocityDesign commented on #46
Because they're secure
(And because I have to on Silverblue lol)

[2021-12-22 22:59] webdev03 commented on #54
I have less commits, though. I tend to make mega-commits instead of short ones.

[2021-12-22 23:01] hello-smile6 commented on #55
Did you do something to it?

[2021-12-22 23:03] JaydenDev commented on #54
how do I make this repository less of a war ground?

[2021-12-22 23:03] JaydenDev commented on #46
Why are you using Silverblue

[2021-12-22 23:05] VelocityDesign commented on #46
![Screenshot from 2021-12-22 17-04-22](https://user-images.githubusercontent.com/24457862/147164759-c93ea087-2f03-46ba-a2d2-89d0b8636c15.png)
Umm I'm not sure this is working...

[2021-12-22 23:05] hello-smile6 opened #56 "> I have less commits, though. I tend to make mega-commits instead of short ones."
how do I make this repository less of a war ground?

_Originally posted by @JaydenDev in https://github.com/JaydenDev/Catalyst/issues/54#issuecomment-999930556_

Maybe make it a github org and give everyone access based on how much you trust them. For example, those you trust to tag issues and pull requests could have the ability to do so. (I can't comment on the original issue, see #55 )

[2021-12-22 23:06] hello-smile6 commented on #46
[code]

[2021-12-22 23:06] hello-smile6 commented on #46
Nice OS.

[2021-12-22 23:06] JaydenDev commented on #46
You have to run 'npm run dev' to have the CSS done, then build it

[2021-12-22 23:07] hello-smile6 commented on #56
@VelocityDesign @JaydenDev @webdev03 Just letting you know about this

[2021-12-22 23:07] VelocityDesign commented on #46
This is the released RPM.

And thanks. It's GNOME + extensions on fedora silverblue.

[2021-12-22 23:07] webdev03 commented on #54
War ground? Anyways, I will start work on the updater.

[2021-12-22 23:07] hello-smile6 commented on #46
Could I have your .iso and an x64 standalone QEMU binary that could run it?

[2021-12-22 23:08] JaydenDev commented on #46
@webdev03 we have quite the problem

since gh actions is building from repository its not building the tailwind css first

[2021-12-22 23:08] VelocityDesign commented on #46
I don't think I can package my system with that...

[2021-12-22 23:10] JaydenDev commented on #46
@VelocityDesign gh actions stuff gotta be fixed then a succesful complete RPM build then you can do ur thing

[2021-12-22 23:13] VelocityDesign commented on #46
Okay. Let me know once that's ready.

[2021-12-22 23:15] JaydenDev commented on #56
@hello-smile6 after you broke and made a mess, no.

[2021-12-22 23:16] JaydenDev commented on #56
this belongs in discussions

[2021-12-22 23:16] #56 closed

[2021-12-22 23:17] webdev03 commented on #54
Close this issue, my PR #57

[2021-12-22 23:19] webdev03 commented on #46
Oh right, I will make a PR to change that. Oops!

[2021-12-22 23:19] hello-smile6 commented on #56
Obviously, I would **not** have write access.

[2021-12-22 23:19] #54 closed

[2021-12-22 23:22] webdev03 commented on #46
Fixed, I made #58

[2021-12-22 23:24] JaydenDev opened #59 "A better system..."
Gotta make the repository better for the community

Suggest anything OTHER than a gh org. I'm NOT giving anyone write permissions, GitHub lacks permission customization and only gives the collaborators page which, @hello-smile6 proved that's a bad idea.

[2021-12-22 23:25] webdev03 commented on #59
Which collaborators page? Sorry I forgot.

[2021-12-22 23:26] JaydenDev commented on #59
Ok, everyone. Step 1: stop arguing.

[2021-12-22 23:26] hello-smile6 commented on #59
It gives you the ability to allow "triage" access for orgs.

[2021-12-22 23:26] hello-smile6 commented on #59
That can be arranged.

[2021-12-22 23:27] hello-smile6 commented on #59
<details>
<summary>Off-topic</summary>
llk/scratch-www#6403 just showed up!
</details>

[2021-12-22 23:28] VelocityDesign commented on #46
Okay, but an action doesn't seem to be running.

[2021-12-22 23:28] webdev03 commented on #46
Which one?

[2021-12-22 23:28] VelocityDesign commented on #46
The one to build it

[2021-12-22 23:29] hello-smile6 commented on #59
@JaydenDev What else?

[2021-12-22 23:29] hello-smile6 commented on #46
Just letting you know, #59

[2021-12-22 23:30] webdev03 commented on #46
By the way, the reason why it won't build, you need to make a new tag for the action to run :smile:

[2021-12-22 23:31] hello-smile6 commented on #46
👍

[2021-12-22 23:31] JaydenDev commented on #46
this is all done now

[2021-12-22 23:31] #46 closed

[2021-12-22 23:31] #33 closed

[2021-12-22 23:31] #55 closed

[2021-12-22 23:32] JaydenDev opened #60 "UI Changes"
Goals
- Remove both scrollbars for a clean interface
- Overall UI Cleanup, to make it fresh.
- Make it completely usable.

[2021-12-22 23:34] VelocityDesign commented on #46
Is it? I don't see anything.

[2021-12-22 23:34] hello-smile6 commented on #46
Huh.

[2021-12-22 23:35] webdev03 commented on #46
Add all-contributors!

[2021-12-22 23:36] webdev03 commented on #60
Which "both scrollbars" (context: I use a mac)? Also what is unusable?

[2021-12-22 23:37] JaydenDev commented on #60
@webdev03
the horizontal and vertical scroll bars ruin aesthetic.

[2021-12-22 23:37] webdev03 commented on #60
Can you send a screenshot? Only then I can fix it.

[2021-12-22 23:37] JaydenDev commented on #60
![image](https://user-images.githubusercontent.com/92550746/147166780-eac1a04f-9033-47de-924d-551f0c856fbe.png)
scroll bars are quite ugly

[2021-12-22 23:38] webdev03 commented on #60
Ohhh... I see! I'll fix it. Just wait a minute!

[2021-12-22 23:38] hello-smile6 commented on #60
@webdev03 Your account's broken. Attempting to follow you or doing anything to do with you results in a <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/422">`422`</a> error.

[2021-12-22 23:40] webdev03 commented on #60
My account isn't broken.

[2021-12-22 23:44] hello-smile6 commented on #55
@webdev03 I can't comment on anything that you create or use reactions with any of your comments.

[2021-12-22 23:45] VelocityDesign commented on #60
@JaydenDev Make the release public?

[2021-12-22 23:47] JaydenDev commented on #60
@VelocityDesign wdym?

[2021-12-22 23:47] JaydenDev commented on #60
https://github.com/JaydenDev/Catalyst/releases/tag/v21.12.104
this build now includes the styling.

[2021-12-22 23:53] VelocityDesign commented on #60
I will be doing a UI restyle to match the branding. I'll probably go with a blur style similar to https://explorer.helium.com/

[2021-12-22 23:55] hello-smile6 commented on #60
Could I have my logo please?

[2021-12-23 00:10] JaydenDev commented on #60
alright, make sure to use tailwind! it'll make it easier

[2021-12-23 00:11] JaydenDev commented on #60
make sure to use tailwind

[2021-12-23 00:25] webdev03 commented on #60
yes tailwind!!

[2021-12-23 00:27] webdev03 commented on #59
Also, I don't understand the current versioning system... why not normal `0.0.1` or `1.0.0` like that?

[2021-12-23 00:36] VelocityDesign commented on #60
Totally read that as unstable lol

[2021-12-23 00:42] hello-smile6 commented on #60
Did @webdev03 block me?

[2021-12-23 00:48] JaydenDev commented on #59
Because dev constant and beta builds use Windows like builds strings

[2021-12-23 00:49] JaydenDev commented on #59
Have since moved to hundred strings

[2021-12-23 00:49] JaydenDev commented on #59
I got the version system from both Windows and Ubuntu, see their releases

[2021-12-23 00:52] JaydenDev commented on #59
Classic version systems are old and unorganized

[2021-12-23 00:52] JaydenDev commented on #59
I prefer builds to be year month day number

[2021-12-23 00:54] webdev03 commented on #59
Hmm, okay, as long as you find a way to not break the auto updator.

[2021-12-23 00:55] JaydenDev commented on #60
@webdev03 your fix doesnt work

[2021-12-23 00:55] webdev03 commented on #60
Oh, okay, I'm confused why the scrollbars are there.

[2021-12-23 00:55] JaydenDev commented on #59
Why prefer 1.0 over 21.12

[2021-12-23 00:56] hello-smile6 commented on #60
Did you block me?

[2021-12-23 00:56] JaydenDev commented on #60
well its because you used class="" instead of style="" maybe?

[2021-12-23 00:56] webdev03 commented on #59
Oh, I thought the versions were `21.12.10104.284` or something.

[2021-12-23 00:58] webdev03 commented on #60
`style` is for normal CSS, `class` is for tailwind.

[2021-12-23 00:59] JaydenDev commented on #59
@webdev03
21.12 is a stable release
21.12.100 would be beta/pre-release
21.12.2202 would be dev (year.month.day,number)

[2021-12-23 01:28] webdev03 commented on #60
Wait, really? 🥳

[2021-12-23 01:29] webdev03 commented on #59
Oh, okay! Just don't add anything that isn't either a number or `.` in your tag name. It automatically removes the first letter, so you can add a v at the start of every one of your tag names.

[2021-12-23 01:33] webdev03 commented on #60
The thing is now, the fullscreen mode kind of broke, but it's fine, make sure webview scrolling works, if it doesn't I will bring out a patch.

[2021-12-23 04:46] webdev03 opened #65 "all-contributors"
Here is the way to add it https://allcontributors.org/docs/en/bot/installation

[2021-12-23 05:17] webdev03 opened #66 "icon doesn't work"
Is it just me or does the icon not work in packaged builds?

[2021-12-23 05:48] webdev03 commented on #66
Made it work.

[2021-12-23 16:59] #66 closed

[2021-12-23 17:00] JaydenDev commented on #65
Yeah I don't think giving me a link helps
Copying and pasting code does tho so

[2021-12-23 17:02] JaydenDev commented on #59
@webdev03 whats the command to make gh do tag creation in the push command

[2021-12-23 19:25] webdev03 commented on #65
But you can't copy paste code. You have to get the github app. https://github.com/apps/allcontributors/installations/new add it to the Catalyst repo

[2021-12-23 19:29] webdev03 commented on #59
You do `git push --follow-tags` once you made a tag (`npm version` commands automatically make tags too)

[2021-12-23 20:14] JaydenDev commented on #60
Catalyst is now out of dev, now in beta. Let's get goin so the pre-release can release next week.

[2021-12-23 20:16] JaydenDev opened #70 "1.0, Features and Progress"
21.1 release will be on January 1st,
First Pre-Release next week

Let's work on stuff, and prepare for pre-release.

[2021-12-23 20:17] JaydenDev commented on #59
#70

[2021-12-23 20:17] #59 closed

[2021-12-23 20:18] JaydenDev commented on #60
#70

[2021-12-23 20:18] #60 closed

[2021-12-23 20:20] JaydenDev commented on #70
@webdev03 Can you make this all have one background color. I like the gray color more than the black.
![image](https://user-images.githubusercontent.com/92550746/147288374-adbb41e5-abde-43eb-823b-240f47c63c23.png)

[2021-12-23 20:26] JaydenDev commented on #70
@webdev03 ignore, I've already changed it.

[2021-12-23 20:27] JaydenDev commented on #70
Ok, so I think its better if the space between the tabs and the action bar should be decreased.

[2021-12-23 20:39] webdev03 commented on #70
I can try.

[2021-12-23 20:46] webdev03 commented on #65
@JaydenDev https://github.com/apps/allcontributors/installations/new and install it!!

[2021-12-23 20:48] JaydenDev commented on #65
not right nowwww

[2021-12-23 20:50] webdev03 commented on #65
ok...

[2021-12-23 21:52] webdev03 commented on #65
What is @The-Catalyst-Browser-Project ?

[2021-12-23 23:56] JaydenDev commented on #65
@webdev03 it was my failed attempt to get it done, I've rethought it and im not doing it... too risky to give right acccess.

[2021-12-23 23:56] JaydenDev commented on #65
#70

[2021-12-23 23:58] JaydenDev commented on #70
@webdev03 for the search suggestions can you make the top have square corners and the bottom rounded

[2021-12-24 00:01] webdev03 commented on #70
OK!

[2021-12-24 00:02] JaydenDev commented on #70
@webdev03 why caps?

[2021-12-24 00:04] webdev03 commented on #70
OK = Okay
I will stop now

[2021-12-24 00:05] webdev03 commented on #65
When did I need to have write access? I thought, we can also make a repository for the website, and it will be more organised, then you can set up your projects and stuff.

[2021-12-24 02:46] JaydenDev opened #76 "1.0, bug fixes and stability"
Collaborate here for preparation for 1.0, fix bugs and stability issues.

Goals:
- Memory Optimization (Right now 7 tabs uses a LOT of RAM)

[2021-12-24 02:50] JaydenDev commented on #70
@webdev03 are you able to decrease the space between the bar and the tabs?

[2021-12-24 02:53] webdev03 commented on #70
Hmm, ok

[2021-12-24 02:53] webdev03 commented on #70
You mean the search bar and the tabs?

[2021-12-24 02:54] JaydenDev commented on #70
yes, less space between them. Make it more like the space between the two in FF

[2021-12-24 02:54] webdev03 commented on #70
OK

[2021-12-24 02:55] webdev03 commented on #70
<img width="1023" alt="Screen Shot 2021-12-24 at 3 54 45 PM" src="https://user-images.githubusercontent.com/75148774/147310222-ccdd13a1-54aa-480c-a080-11ec83066e24.png">
Is this good

[2021-12-24 02:55] JaydenDev commented on #70
The action bar is

The search bar, forward and back buttons as well as reload. and every other button on that bar

The tab bar is above, with the tabs

Terminoligy

[2021-12-24 02:55] webdev03 commented on #70
Terminology*

[2021-12-24 02:55] JaydenDev commented on #70
One thing i must say, you aren't on the latest commit.
Half that amount of space is good, then show me.

[2021-12-24 02:55] webdev03 commented on #70
Hmm, what do you mean? That's already quite a good amount of spacing in my opinion.

[2021-12-24 02:56] JaydenDev commented on #70
its just a bit much

[2021-12-24 02:56] JaydenDev commented on #70
a little smaller amount then ur good

[2021-12-24 02:56] JaydenDev commented on #70
also get on the latest commit before doing any PRs.

[2021-12-24 02:56] webdev03 commented on #70
Well, ok...

[2021-12-24 02:57] webdev03 commented on #70
<img width="1023" alt="Screen Shot 2021-12-24 at 3 57 00 PM" src="https://user-images.githubusercontent.com/75148774/147310385-5c764c52-d3ac-4da2-8084-865311007606.png">
Is this good? Then I will update to the latest commit and redo my changes.

[2021-12-24 02:57] JaydenDev commented on #70
@webdev03 yes thats good, I can handle the updating for you with the PR.

[2021-12-24 02:58] webdev03 commented on #70
Ok, if you say so...

[2021-12-24 02:58] JaydenDev commented on #70
@webdev03 i made a PR.

[2021-12-24 03:00] JaydenDev commented on #70
now im testing if it worked

[2021-12-24 03:01] webdev03 commented on #70
:smile:

[2021-12-24 03:02] JaydenDev commented on #70
@webdev03 its weird that it didnt bring my commit where I fixed color consistancy

[2021-12-24 03:02] webdev03 commented on #76
Yes, in Neocruzr I was going to make some advanced memory optimisation, but I had to stop the fork.

[2021-12-24 03:03] JaydenDev commented on #76
In Catalyst, memory gets eaten up quickly and inefficiently.

[2021-12-24 03:04] JaydenDev commented on #70
@webdev03 oh it got undone... my color consistancy fix. im redoin it now.

[2021-12-24 03:05] JaydenDev commented on #70
i redid the color consistancy fix.
now time to move into memory optimization

[2021-12-24 03:06] JaydenDev commented on #70
![image](https://user-images.githubusercontent.com/92550746/147311080-28509969-e249-4e4d-bf6a-d54ab0791050.png)

so far this is what we have

[2021-12-24 03:08] webdev03 commented on #70
Yes, that looks much better, https://github.com/JaydenDev/Catalyst/issues/70#issuecomment-1000625503 I didn't think of it before.

[2021-12-24 03:09] JaydenDev commented on #70
if the browser hogs 2x as much RAM as chrome there's a problem.

[2021-12-24 03:09] webdev03 commented on #70
Wait, it does? Hmm...

[2021-12-24 03:09] JaydenDev commented on #70
When you hit 7 tabs it gets slow, could just be because I didn't test with a compiled version

[2021-12-24 03:10] webdev03 commented on #70
yes, compiled versions are much better.

[2021-12-24 03:10] JaydenDev commented on #70
I test with npm since I can't install Catalyst without removing ninetails

[2021-12-24 03:11] webdev03 commented on #70
😢

[2021-12-24 03:11] JaydenDev commented on #70
@webdev03 might use the "feature" to gain some ground.

[2021-12-24 03:12] webdev03 commented on #70
Which feature? Also, it would be more organised if there was a separate issue about memory. I'll make it.

[2021-12-24 03:12] webdev03 opened #78 "Memory optimisations"
Improve the memory consumption of Catalyst.

[2021-12-24 03:12] JaydenDev commented on #70
@webdev03 no no its already made check issues

[2021-12-24 03:13] JaydenDev commented on #78
#76

[2021-12-24 03:13] webdev03 commented on #78
That's for bug fixes and stability. RAM consumption is fine, it still works. But it is something that in the future we may need to consider. Here is where we can plan for the future.

[2021-12-24 03:14] JaydenDev commented on #78
![image](https://user-images.githubusercontent.com/92550746/147311600-a868e17e-2892-4c7d-9662-dee0819ef691.png)
uhh

[2021-12-24 03:15] JaydenDev commented on #78
the buttons got pushed where i cant see em

[2021-12-24 03:15] webdev03 commented on #78
2gb of ram, while using it for 5 tabs. I guess you kind of have a point now.

[2021-12-24 03:15] webdev03 commented on #78
I've never seen that happen before. Let's discuss that in a new issue.

[2021-12-24 03:15] JaydenDev opened #79 "Add and Delete tab buttons go off screen when lots of tabs open."
![image](https://user-images.githubusercontent.com/92550746/147311664-789235d9-3f9c-4915-8a86-901f300b6519.png)

[2021-12-24 03:16] webdev03 commented on #79
Yes, I'll see how the flex container works.

[2021-12-24 03:18] JaydenDev commented on #79
@webdev03 this is the latest compiled ver 21.12.106-beta, maybe you did fix it.

[2021-12-24 03:19] webdev03 commented on #79
I've got a fix, made a fix...

[2021-12-24 03:19] JaydenDev commented on #79
It isn't fixed in the latest commits, so yeah make a PR.

[2021-12-24 03:20] JaydenDev commented on #79
whats the command for a new release ugh. that one git push command i cant remember.

[2021-12-24 03:21] webdev03 commented on #79
`git push --follow-tags` :smile:

[2021-12-24 03:23] JaydenDev commented on #79
resolved

[2021-12-24 03:23] #79 closed

[2021-12-24 03:27] webdev03 commented on #78
Actually, my "2gb calculation" was actually how much all of the applications I had on was using. In reality, it might actually be.. les...

[2021-12-24 03:30] JaydenDev commented on #78
it sits around 128 MB of RAM.

[2021-12-24 03:30] webdev03 commented on #78
128? Isn't that way less than Chrome and Firefox?

[2021-12-24 03:32] JaydenDev commented on #78
@webdev03 my testing was on the non-compiled version, the compiled is way faster

[2021-12-24 03:33] webdev03 commented on #78
So we can close this?

[2021-12-24 03:33] #78 closed

[2021-12-24 03:34] JaydenDev commented on #70
I've been using Catalyst for 5 minutes and its, good.

[2021-12-24 03:34] webdev03 commented on #70
:smile:

[2021-12-24 03:35] JaydenDev commented on #70
Color inconsistincy in light mode
Also unlike FF or Chrome, there is no right click spell check/fixing to fix my spelling mistakes

[2021-12-24 03:35] JaydenDev commented on #70
Unfortunately I can't even claim credit for most the browser, I coded like 3% of it.

[2021-12-24 03:36] webdev03 commented on #70
I will fix the colour inconsistency.
![image](https://user-images.githubusercontent.com/75148774/147313138-1a3c6dcf-217d-4b62-a5a3-9f32ce6b32c1.png)
You did quite a lot, and you've managed it too!

[2021-12-24 03:36] JaydenDev commented on #70
Also, can the text in the search bar update per tab?
i have 1 gh tab and 1 scratch tab and no matter what tab im in it shows the github URL.

[2021-12-24 03:37] webdev03 commented on #70
Yes, that is something I was going to do too.

[2021-12-24 03:37] JaydenDev commented on #70
@webdev03 I pretty much did the small tweaks

[2021-12-24 03:39] JaydenDev commented on #70
so, most browsers dont require a button press to search. So, we can replace the "Go" button with an event listener, that runs the function the button would usually run. When ENTER is pressed.

[2021-12-24 03:40] webdev03 commented on #70
Yes, I am going to add the event listener too. I don't see any inconsistency, though!

[2021-12-24 03:40] JaydenDev commented on #70
@webdev03 you need to look REAL closely in light mode

[2021-12-24 03:40] JaydenDev commented on #70
![image](https://user-images.githubusercontent.com/92550746/147313455-458bbbc7-0e44-4c5f-83cd-482d8482cc4a.png)

[2021-12-24 03:40] webdev03 commented on #70
How closely? Can you send a screenshot?

[2021-12-24 03:41] JaydenDev commented on #70
zoom in quite a bit in my screenshot

[2021-12-24 03:41] webdev03 commented on #70
Can't see on my screen...

[2021-12-24 03:41] JaydenDev commented on #70
the tab and action bar background is gray while the background background is white.

[2021-12-24 03:42] JaydenDev commented on #70
its an easy fix i can do myself if i need to

[2021-12-24 03:42] webdev03 commented on #70
Oh, so that's what you mean! I'll add that in.

[2021-12-24 03:42] JaydenDev commented on #70
should they both be white or both be gray? @webdev03

[2021-12-24 03:43] webdev03 commented on #70
I made it both gray, although I would kind of like it both white though.

[2021-12-24 03:45] JaydenDev commented on #70
k

[2021-12-24 03:45] JaydenDev commented on #70
Should I just release 1.0 next week instead of a pre-release?

[2021-12-24 03:47] webdev03 commented on #70
Maybe closer until the time we can decide?

[2021-12-24 03:48] JaydenDev commented on #70
android app?
JK, NEVER NO NEVER DOING THAT PLEASE IGNORE

[2021-12-24 03:49] webdev03 commented on #70
I'm going to share my _maybe controversial_ opinion: in the future, an app may be possible.

[2021-12-24 03:58] JaydenDev commented on #70
sorry if i dont respond for a while im hosting a web server on my phone... :)

[2021-12-24 04:38] webdev03 commented on #76
Anyone wants bookmarks?

[2021-12-24 04:45] webdev03 opened #83 "Bookmarks"
Catalyst Bookmarks
(FYI: No help needed right now, already made #91)

[2021-12-24 04:58] webdev03 commented on #65
What about all-contributors ? Will you add it or have you already?

[2021-12-24 15:11] JaydenDev commented on #76
Sure you can make bookmarks

[2021-12-24 17:28] JaydenDev opened #88 "Development Freeze, Today at 6:00 PM CST to December 26th"
I will not be working on Catalyst Today at 6PM CST, to December 26th as I will not be available during this period (Christmas).

Feel free to make PRs and issues and discuss features with other developers during this period, I will merge and confirm ideas afternoon December 26th.

[2021-12-24 19:05] JaydenDev commented on #83
@webdev03 ping
@webdev03 pong

how is the bookmark development going?

[2021-12-24 20:24] JaydenDev commented on #83
@webdev03 if you want to make bookmarks you must either cut the tab size in half or the search bar size in half.

[2021-12-24 21:00] webdev03 commented on #83
Hey I went to sleep and today is Christmas. I am a living human being by the way

[2021-12-24 21:01] JaydenDev commented on #83
Understood, I will stop pinging.

[2021-12-24 21:01] JaydenDev commented on #83
I completely forgot about time zones, oof.

[2021-12-24 21:03] JaydenDev commented on #83
well btw I wont be actively working on Catalyst starting today at 6PM CST all the way to December 26th. (Central standard time)

[2021-12-24 21:22] webdev03 commented on #70
I guess we can release 1.0 soon. I can try to implement bookmarks. But when there are too many bookmarks, should there be a scrolling bar?

[2021-12-24 21:24] webdev03 commented on #83
Okay, so what should I do on the meantime?

[2021-12-24 21:26] JaydenDev commented on #83
@webdev03 Well it doesn't start til 6 CST ( my time zone) for me its 3PM rn (December 24th)

[2021-12-24 21:27] JaydenDev commented on #70
@webdev03 I hate scroll bars, they are so ugly.

also note when i said that tab size or search bar size would have to be cut in half for bookmarks to not take up too much space.

[2021-12-24 21:39] webdev03 commented on #70
I think bookmarks can be implemented later. Right now I want to trim down the number of Font Awesome icons in the code.

[2021-12-24 21:44] webdev03 commented on #88
Merry Christmas!

[2021-12-24 21:54] JaydenDev commented on #70
How else will there be icons then

[2021-12-24 21:54] webdev03 commented on #70
I am going to switch to bootstrap icons if that is fine with you... or should I instead trim down the number of FA icons? I think Bootstrap Icons is open source.

[2021-12-24 21:55] JaydenDev commented on #70
Just download the icons into the repository into the assets folder and apply them in the UI

[2021-12-24 21:55] webdev03 commented on #70
Then, when building, even the icons we don't need are there.

[2021-12-24 21:57] JaydenDev commented on #70
What?

[2021-12-24 21:58] webdev03 commented on #70
Yeah, so there is going to be let's say 1000 icons in the build, but we use like 7 out of them.

[2021-12-24 22:02] JaydenDev commented on #70
@webdev03 just download the icons that are needed and store them in the repo.

[2021-12-24 22:02] webdev03 commented on #70
That's what I am doing.

[2021-12-24 22:03] JaydenDev commented on #70
so far my package manager's catalyst install script is working.
its for linux only tho, boxpkg is linux only

[2021-12-24 22:04] JaydenDev commented on #70
nevermind its not working yet cuz syntax error

[2021-12-24 22:05] JaydenDev commented on #70
[code]

[2021-12-24 22:06] webdev03 commented on #70
Put it on Homebrew soon! That would be **awesome**!

[2021-12-24 22:06] JaydenDev commented on #70
I fixed everything but the last two errors.

[2021-12-24 22:06] JaydenDev commented on #70
@webdev03 cant do that not on mac.

[2021-12-24 22:07] webdev03 commented on #70
I could, when we hit 1.0

[2021-12-24 22:07] JaydenDev commented on #70
for now focus on what ur doin and fixing the boxpkg catalyst install script.
just some syntax errors with the last two functions.

[2021-12-24 22:08] webdev03 commented on #70
I don't know much bash.

[2021-12-24 22:10] JaydenDev commented on #70
@webdev03 I can't make a PPA without being on Ubuntu, and making a fedora repo is hard.

[2021-12-24 22:11] JaydenDev commented on #70
also making a package manager is fun

[2021-12-24 22:12] webdev03 commented on #70
Anyways, this is `JaydenDev/Catalyst`.

[2021-12-24 22:13] JaydenDev commented on #70
i fixed all the errors and now im testing it.

[2021-12-24 22:15] webdev03 commented on #70
Also, why build on the user's machine? There is a releases API and a page for that.

[2021-12-24 22:15] JaydenDev commented on #70
no no, im doing it the only way i can do it with bash

[2021-12-24 22:16] JaydenDev commented on #70
plus package managers are superior when they build from source

[2021-12-24 22:33] JaydenDev commented on #70
All the features in Catalyst right now, will be in 1.0. Features discussed and made, closing.

[2021-12-24 22:33] #70 closed

[2021-12-24 22:34] JaydenDev commented on #76
@webdev03
everyone, continue to clean up and fix bugs. Release 1.0 is near! It will release tomorrow on Christmas! If i'm able to anyway, its more likely to be on the 26th.

[2021-12-24 22:34] webdev03 commented on #70
Wait, so right now, is 1.0 ?

[2021-12-24 22:36] webdev03 commented on #76
Ok! What are some bugs that I can fix?

[2021-12-24 22:36] JaydenDev commented on #76
@webdev03 well I haven't found any yet.

[2021-12-24 22:37] webdev03 commented on #76
I can make a cool welcome animation for Catalyst.

[2021-12-24 22:38] JaydenDev commented on #76
@webdev03 well you keep talking about start up times...

[2021-12-24 22:38] webdev03 commented on #76
Startup time is fine.

[2021-12-24 22:39] JaydenDev commented on #76
@webdev03 my laptop has a celeron and 4GB of RAM, please don't.

[2021-12-25 04:11] webdev03 commented on #83
Started development on Bookmarks. I hope I can get a working version until you come back from your Christmas break. I hope you will enjoy it!

[2021-12-25 04:36] webdev03 commented on #83
@JaydenDev when you are back, tell me if you either want
<img width="758" alt="Screen Shot 2021-12-25 at 5 35 55 PM" src="https://user-images.githubusercontent.com/75148774/147377480-3e547fe0-f287-477e-a18f-8cfde4995285.png">
or optional bookmarks. For now, I'll add both, tell me which one you like, or ask the community!

[2021-12-25 05:34] webdev03 commented on #83
Bookmarks are going quite well! I'll push my changes and make a draft. Just got to make it so that you can add some to the list.

[2021-12-25 09:04] webdev03 commented on #76
At this rate when you come back we might actually be able to release 1.0 :smile:

[2021-12-26 01:07] webdev03 commented on #46
@JaydenDev when you come back, open this up.

[2021-12-26 03:01] webdev03 commented on #83
Okay, I think they are ready to merge, I might make a few minor changes though, like if there are no bookmarks, hide the bookmarks bar.

[2021-12-26 15:21] JaydenDev commented on #88
The period of the development freeze has ended, development will continue.

[2021-12-26 15:21] #88 closed

[2021-12-26 15:42] #83 closed

[2021-12-26 15:45] JaydenDev opened #94 "Double Lines in the Bookmarks Bar?"
![image](https://user-images.githubusercontent.com/92550746/147413188-b5f5fb1b-cb3f-40b0-9e14-657dfadb515f.png)
Most of the time the bookmark text will take 2 lines, increasing the size of the bar
__decreasing the size of the webview__

[2021-12-26 16:04] JaydenDev commented on #94
@webdev03

[2021-12-26 19:36] webdev03 commented on #88
Well, it didn't really freeze, I was working on bookmarks

[2021-12-26 19:37] webdev03 commented on #94
Yes, I have no idea how to fix that...

[2021-12-26 19:49] webdev03 commented on #94
How is this `bug`, `enhancement`, and `question`?

[2021-12-26 20:12] JaydenDev commented on #94
@webdev03 enhancing the browser by leaving more space for content :)

[2021-12-26 20:51] webdev03 commented on #94
@JaydenDev WHY did you put characters in the tag name? Now the auto updator will break! I told you this before.

[2021-12-26 21:06] JaydenDev commented on #94
Dude, you realize it works just fine right

[2021-12-26 21:09] webdev03 commented on #94
Yes, I have no idea how to fix this, I'll work a bit more.

[2021-12-26 21:19] webdev03 commented on #94
I've got a fix, please wait while I finish it up and open PR.

[2021-12-26 21:28] #94 closed

[2021-12-26 21:49] JaydenDev commented on #76
@webdev03 let me know when you have everything finished committed and merged. So I can eventually release 1.0

[2021-12-26 22:23] JaydenDev commented on #76
@webdev03 Can you the action bar and the bookmark bar all the same size as the tab bar

[2021-12-26 22:24] JaydenDev commented on #76
right now those buttons and bars take way too much space where content could be.

[2021-12-26 22:35] webdev03 commented on #76
@JaydenDev Hello

[2021-12-26 22:36] webdev03 commented on #76
I have got a bug you may not have noticed, and I really would like a fix.
Basically, if there are too many preferences or the screen is small, then the scroll will be cut off where it says "bookmarks" and I need a fix.

[2021-12-26 22:41] JaydenDev commented on #76
@webdev03 I can't comprehend what you are saying, plus how do I fix a bug in YOUR code?

[2021-12-26 22:42] JaydenDev commented on #76
I'm not a UI professional either

[2021-12-26 22:43] JaydenDev commented on #76
plus, why are you actually using Catalyst lol.

[2021-12-26 23:34] JaydenDev commented on #76
@webdev03 explain the bug in a new issue.
just know it wont be fixed before 1.0 :)

[2021-12-26 23:45] webdev03 commented on #76
OK.

[2021-12-26 23:46] webdev03 commented on #76
I'm not actually using Catalyst (I use firefox until passwords gets implemented which I can try to do) but when I was testing settings I found that.

[2021-12-26 23:47] webdev03 commented on #76
By the way, you own the repo, and you are the only one who is allowed to write to the repository.

[2021-12-26 23:48] webdev03 opened #97 "Scroll cutoff in Preferences"
If you drag the window and make it smaller, then open settings, then you can scroll down, but then it is cut off where it says "bookmarks".

[2021-12-26 23:49] JaydenDev commented on #76
@webdev03 it'll get fixed in 1.1/ 21.12-fix01/21.12.110

[2021-12-26 23:51] webdev03 commented on #76
Don't make the tag name `21.12-fix01` or else.. :smile:

[2021-12-26 23:52] JaydenDev commented on #76
@webdev03 when the bug fixes roll out it'll be labeled as 1.1.0

[2021-12-26 23:52] JaydenDev commented on #76
btw the 1.0 win64 build is taking a while...

[2021-12-26 23:54] webdev03 commented on #76
1.0.0 right?

[2021-12-26 23:55] webdev03 commented on #76
LOL, Github Actions is broken, doesn't want to checkout.

[2021-12-26 23:55] JaydenDev commented on #76
hmm it'll use the latest source right? thats fine.

[2021-12-26 23:56] webdev03 commented on #76
Should use the latest source, if you made the tag on the latest master branch.

[2021-12-26 23:57] JaydenDev commented on #76
so the build is working, go check out 1.0!

[2021-12-26 23:58] JaydenDev commented on #76
it failed to upload the file cuz i already published the release. oh well!

[2021-12-26 23:58] webdev03 commented on #76
Yeah, ok, I'll just `npm run dev` for now. We can close this!

[2021-12-26 23:59] #76 closed

[2021-12-26 23:59] JaydenDev commented on #97
I will start working on 1.1 tomorrow, @webdev03

[2021-12-27 00:00] webdev03 opened #98 "Password Manager"
If I figure out how to get AES working, I could try to implement this.
Or we can store the passwords as plaintext I guess. Which one? AES is hard, and it will require the user to input a password every time, but more secure. Plaintext is less secure, but more convenient.

[2021-12-27 00:01] webdev03 commented on #97
I can work on it now.

[2021-12-27 00:01] JaydenDev commented on #98
Plain text is fine, just don't have anyone accidentily upload it on a git push. No hacker is gonna bother.

[2021-12-27 00:01] webdev03 commented on #98
@JaydenDev can I please be assigned?
It will be stored in localStorage, don't know what other to use, as localStorage should theoretically be fine.

[2021-12-27 00:02] webdev03 commented on #98
Why is it `On Hold`? I can do it right at this instant!

[2021-12-27 00:02] JaydenDev commented on #97
@webdev03 literally just released 1.0 tho, take a break.

[2021-12-27 00:02] JaydenDev commented on #98
@webdev03, take a break man.

[2021-12-27 00:03] webdev03 commented on #97
Ok! But I'm quite bored right now.

[2021-12-27 00:03] webdev03 commented on #98
Ok!

[2021-12-27 00:04] JaydenDev commented on #97
@webdev03 fineeeeee

[2021-12-27 00:04] webdev03 commented on #97
No, it's fine, you can add `On Hold`.

[2021-12-27 00:12] webdev03 commented on #98
Data structure(?):
`
{
  "google.com": [
      {
         "user": "abc",
         "pass": "def"
      },
      {
         "user": "one",
         "pass": "two"
      }
   ],
   "scratch.mit.edu": [
      {
         "user": "1234",
         "pass": "5678"
      },
      {
         "user": "myuser",
         "pass": "mypass"
      }
   ]
}
`

[2021-12-27 00:34] JaydenDev commented on #98
Good enough

[2021-12-27 00:41] webdev03 commented on #98
How to access the webview DOM?

[2021-12-27 00:45] JaydenDev commented on #98
@webdev03 you have to detect when someone has clicked log in on an login screen.

[2021-12-27 00:46] webdev03 commented on #98
I need to get access to the DOM first!

[2021-12-27 01:12] webdev03 commented on #98
I've been doing some research, and I've come to the conclusion, that the only way to do this is to execute javascript on the webview through `executeJavascript` to get access to the DOM. It is a bit hacky, though, and we won't be able to get any data back, so I think that this can be considered for later.

[2021-12-27 02:03] JaydenDev commented on #98
@webdev03 for now just let users manually put their password in the manager, and have it copy-able to be put into a website.

[2021-12-27 02:06] JaydenDev commented on #98
Can't hold up 1.1 too long over 2 days :)
bugs to fix

[2021-12-27 03:27] webdev03 commented on #98
Bugs to fix? `1.0.1` would be a nice name, instead of `1.1.0`

[2021-12-27 03:30] JaydenDev commented on #98
That's stupid

[2021-12-27 04:09] webdev03 commented on #98
1.0.1 is a "patch release" to fix bugs. 1.1.0 may add features.

[2021-12-27 04:12] webdev03 opened #101 "JaydenDev please fix the update notifier"
For versions that contain any letters in them, like `v1.0.0-pre1` in the version for package.json running `Number("1.0.0-pre1")` returns `NaN` which fails to notify the user about an update. Please fix this when you continue to maintain this repository.

[2021-12-27 04:12] webdev03 commented on #101
@JaydenDev I told you earlier

[2021-12-27 04:22] JaydenDev commented on #101
I'll keep this in bind in the next releases

[2021-12-27 04:22] JaydenDev commented on #98
@webdev03 2.0 adds features 1.0.1 is a patch release

[2021-12-27 04:24] JaydenDev commented on #98
Like releases, bug fix releases have builds as well

[2021-12-27 04:24] webdev03 commented on #101
Ok! You can ask me if you have any doubts.

[2021-12-27 04:24] #101 closed

[2021-12-27 04:28] webdev03 commented on #98
Ok. Sure.

[2021-12-27 04:29] JaydenDev commented on #98
@webdev03 since I can't use text indication of different build channels I'll have to add more numbers to builds
Need a way to differentiate

[2021-12-27 04:30] JaydenDev commented on #98
anyway I'll be back tomarrow.

[2021-12-27 04:30] webdev03 commented on #98
You can add them, I've come to the conclusion, prereleases have no auto updating functionality, and that is now going to be what happens I guess.

[2021-12-27 06:40] webdev03 commented on #98
I've successfully made a more menu myself without stealing code from ninetails (although I did check a few online resources like tailwind ui preview for some ideas). I'll make a PR for that, then once you merge it, I'll start working on passwords.

[2021-12-27 09:16] webdev03 commented on #97
May/may not be resolved. Please test.

[2021-12-27 14:43] FunctionalMetatable commented on #98
no

node versioning (what you are supposed to be using because electron)

[code]
M = Major (for breaking changes, dramatic changes like whole rewrite)
F = Feature (For new features)
P = Patch (for bug fixes)

you should use this pattern or npm/pnpm/yarn will throw errors one day

[2021-12-27 15:21] JaydenDev commented on #98
I don't have to use the same order, just some characters i can't use, but guess what it works so why does it matter

[2021-12-27 18:45] JaydenDev commented on #98
soo....

[2021-12-27 19:52] webdev03 commented on #98
You should use the same order. Please? Otherwise it will break in the future.

[2021-12-27 19:54] JaydenDev commented on #98
No, the older of numbers DOES NOT MATTER. The only time it will break is if I put in letters, which numbers aren't. Stop being stupid, be realistic. Or your PRs and issues will be ignored. Stop spam pinging me as well.

[2021-12-27 19:54] webdev03 commented on #98
Ok, sorry...

[2021-12-27 19:55] JaydenDev commented on #98
@webdev03 not being stupid is a strict rule

Think about it, why would number order matter?
1.1.1 over 1.0.1 what will this break? nothing! THINK!

[2021-12-27 19:56] webdev03 commented on #98
Ninetails uses it.

[2021-12-27 19:56] JaydenDev commented on #98
What? Ninetails uses it so if I don't use their version method it'll break? Lol, great logic.

[2021-12-27 19:57] webdev03 commented on #98
"Chrome/Firefox would use F.P, which would throw errors if used in package.json"
"you should use this pattern or npm/pnpm/yarn will throw errors one day"

[2021-12-27 19:57] webdev03 commented on #98
Anyways, this is password manager, so I'll stop.

[2021-12-27 20:05] jdev082 opened #103 "Popup if a session of Catalyst is already open"
To prevent users from reporting a bug where, config will only apply to one window of Catalyst have a message popup if the user already has a window of Catalyst open. Preventing them from launching 2 sessions. Like Firefox or chr00m3

[2021-12-27 20:06] webdev03 commented on #103
Firefox doesn't warn you as far as I know. And also, I think config does apply to both sessions.

[2021-12-27 20:08] JaydenDev commented on #103
When I open 2 Windows of Catalyst (Windows, not tabs, not the OS either). I can have dark mode enabled on the first one, but not the second. No settings changed in either.

[2021-12-27 20:09] webdev03 commented on #103
🤣
Ok, let me try to see what happens

[2021-12-27 20:13] jdev082 opened #104 "Catalyst Colors -- Easy toggles in settings to switch colorscheme"
- Default
- Red
- Blue
- Green
- Orange
and light and dark varients

[2021-12-27 20:13] JaydenDev commented on #103
@webdev03 YOU have bene given write access DONT MAKE ME REGRET IT

[2021-12-27 20:14] webdev03 commented on #104
I can try to figure out how to make a custom selector for this with Tailwind...

[2021-12-27 20:18] webdev03 commented on #103
OK! I'll just work on my fork and make PRs I guess. Don't want to make any changes without your permission.

[2021-12-27 20:18] webdev03 commented on #103
Could I start working on the website in another repo?

[2021-12-27 20:21] webdev03 commented on #104
Hmm... we can't do this with tailwind..

[2021-12-27 20:22] JaydenDev commented on #103
If I approve of the feature its fine.

[2021-12-27 20:26] webdev03 commented on #103
Config doesn't auto update when localStorage is changed, but it does when you open preferences. I don't think this is a real issue, but one thing that is a major issue is that when you open a new window it won't open the tab.

[2021-12-27 20:28] webdev03 commented on #103
Wait, how did you open two windows of Catalyst at once?

[2021-12-27 20:32] JaydenDev commented on #103
I pressed WIN + B which is my keybind to run "catalyst"

[2021-12-27 20:33] webdev03 commented on #103
Wow cool!

[2021-12-27 20:34] webdev03 commented on #103
Can you send screenshot?

[2021-12-27 20:34] JaydenDev commented on #103
Can't, I can't use copy paste image in Catalyst

[2021-12-27 20:36] JaydenDev commented on #103
It's the same thing as clicking Catalyst in the task bar

[2021-12-27 22:24] webdev03 commented on #103
I can't open two Catalyst windows at once though.

[2021-12-28 01:44] JaydenDev commented on #103
@webdev03 you can, just run the binary in terminal.

[2021-12-28 03:06] webdev03 commented on #103
https://github.com/JaydenDev/Catalyst/issues/103#issuecomment-1001740456

[2021-12-28 03:15] JaydenDev commented on #104
@webdev03 do it how you did dark mode
that dark: prefix for dark mode

[2021-12-28 03:18] webdev03 commented on #104
I don't know how to make new modifiers.

[2021-12-28 03:18] webdev03 commented on #104
Instead, userstyles in the future.

[2021-12-28 03:20] JaydenDev commented on #104
@webdev03 you MADE dark mode, wdym.

[2021-12-28 03:23] JaydenDev commented on #104
It's near impossible for an average user to just code a stylesheet
@webdev03
It needs to be like other browsers with pre-made customization options.
Right now it has barely any customization.

[2021-12-28 03:23] webdev03 commented on #104
Tailwind includes `dark:` but Tailwind or Windi (tailwind alternative) doesn't have support for custom ones like `red:`

[2021-12-28 03:24] webdev03 commented on #104
We can inject our OWN stylesheets, though.

[2021-12-28 03:24] JaydenDev commented on #104
@webdev03 Well make color options then, preferably a drop down or some other selection thingy

[2021-12-28 03:24] webdev03 commented on #104
I'll work on this later.

[2021-12-28 03:25] JaydenDev commented on #104
It's a feature, gonna wait on it for 2.0
For now, point releases for 1.0, bug fixes.

[2021-12-28 03:26] webdev03 commented on #104
Can I rename `On Hold` to `on hold`?

[2021-12-28 03:26] JaydenDev commented on #104
@webdev03 why? sure?

[2021-12-28 03:28] webdev03 commented on #65
Should this be reopened @JaydenDev ?

[2021-12-28 03:28] webdev03 commented on #65
I can demo it on the website first.

[2021-12-28 03:40] webdev03 commented on #104
Done.

[2021-12-28 03:52] webdev03 commented on #65
@JaydenDev https://github.com/webdev03/scratchinfo I added all contributors to Scratchinfo. See?

[2021-12-28 04:34] hello-smile6 commented on #65
Want @Electron-Web-Browser ? I'll give it to you

[2021-12-28 05:40] webdev03 commented on #98
I'll make a branch `passwords` and then make a draft PR.

[2021-12-28 16:07] JaydenDev commented on #98
making extra branches is stupid, commit to master

[2021-12-28 16:30] JaydenDev opened #105 "32-bit auto-builds"
Users like @kccuber need 32 bit builds to run Catalyst, if you could add that to the automatic build system that'd be great.

[2021-12-28 16:34] JaydenDev commented on #105
@webdev03

[2021-12-28 17:36] kccuber-scratch commented on #105
i dont need a 32 bit build, its just for that 1 old laptop

[2021-12-28 17:40] JaydenDev commented on #105
@kccuber-scratch they are nice to have

[2021-12-28 18:42] webdev03 commented on #98
Fine, I'll do it on my own fork.

[2021-12-28 18:44] webdev03 commented on #98
https://www.toolsqa.com/git/branch-in-git/ is why I use branches

[2021-12-28 18:45] hello-smile6 commented on #105
@JaydenDev Please do 32-bit builds!!! Also, statically linked. While you're at it could you build statically linked 32-bit binaries for xorg, fluxbox, and anything else needed for a GUI on https://copy.sh/v86/?profile=buildroot ? I'd greatly appreciate that.

[2021-12-28 18:45] webdev03 commented on #105
Does github actions have this?

[2021-12-28 18:46] JaydenDev commented on #105
that's repository bloat.

[2021-12-28 18:46] webdev03 commented on #105
Github actions.. probably doesn't have this..

[2021-12-28 18:47] JaydenDev commented on #105
@webdev03 just get 32 bit builds, dont do any of the crap hello-smile is requesting.

[2021-12-28 18:48] webdev03 commented on #105
I can't build myself, and github actions can't really do it.

[2021-12-28 18:48] hello-smile6 commented on #105
Was just requesting that as something unrelated to Catalyst. I'm really wanting to run GUI programs on v86 without using dsl or Tiny Core.

You can build 32-bit binaries on a 64-bit system. You can also build 64-bit binaries on a 32-bit system.

[2021-12-28 18:49] JaydenDev commented on #105
@hello-smile6 v86 is not whats on topic here, this is Catalyst development. This repository and built binaries are for Catalyst ONLY.

We don't care about your silly whatever the heck your doing, just get 32 bit builds in the auto-build system.

[2021-12-28 18:49] webdev03 commented on #105
How to do that in Electron Forge?

[2021-12-28 18:50] JaydenDev commented on #105
idk exactly

[2021-12-28 18:50] hello-smile6 commented on #105
Just pass parameters to `electron-forge make`. Read the docs.

[2021-12-28 18:51] JaydenDev commented on #105
"read the docs" isn't a helpful statement @hello-smile6

[2021-12-28 18:52] JaydenDev commented on #105
@webdev03 Well we'll just have to leave 32 bit users behind on this, 32 bit is obselete anyway

[2021-12-28 18:52] hello-smile6 commented on #105
Okay, then I'll find the info. Also, you can hide comments instead of deleting them.

[2021-12-28 18:52] JaydenDev commented on #105
Deleting > Hiding

[2021-12-28 18:53] webdev03 commented on #105
I'll try to do this.. please wait!

[2021-12-28 18:53] JaydenDev commented on #105
@webdev03 is it really possible tho?

[2021-12-28 18:53] hello-smile6 commented on #105
Here you go.
https://chr15m.github.io/bugout/examples/messageboard.html#bCxAvXzKk2ziQzd66zkCSUg69foyWPcCF5

[2021-12-28 18:53] hello-smile6 commented on #105
Wait a minute, wrong link.

[2021-12-28 18:54] JaydenDev commented on #98
@webdev03 its stupid tho, I don't want none of that clutter.

[2021-12-28 18:54] hello-smile6 commented on #105
Here's the info.
https://www.electronforge.io/cli#make

[2021-12-28 18:54] JaydenDev commented on #105
a command would be more useful ...

[2021-12-28 18:55] webdev03 commented on #105
Got it.

[2021-12-28 18:56] hello-smile6 commented on #105
[code]
Just run that on a 64-bit GitHub Actions Linux runner.

[2021-12-28 18:56] JaydenDev commented on #105
This must include Mac32, Win32, and Linux32

[2021-12-28 18:56] hello-smile6 commented on #105
Stop deleting my comments when they're on-topic!

[2021-12-28 18:56] JaydenDev commented on #105
stop spamming useless comments then...

[2021-12-28 18:57] webdev03 commented on #98
You can delete branches after they are merged, but fine, I'll work on my fork............... 😕

[2021-12-28 18:57] hello-smile6 commented on #105
https://www.electronforge.io/cli#:~:text=please%20note%20you%20normally%20can%20only%20target%20platform%20X%20from%20platform%20X.
Don't think that's possible. And there's no such thing as 32-bit MacOS, I think.

[2021-12-28 18:58] JaydenDev commented on #105
You think MacOS didn't exist pre-64bit. That's kinda dumb, think before you post stupid comments.

[2021-12-28 18:58] webdev03 commented on #105
32 bit macOS exists. I am not sure if my latest commit works, can you check?

[2021-12-28 19:00] JaydenDev commented on #105
@webdev03 Hold on, I gotta get a fresh cloned copy of the repo.

[2021-12-28 19:00] hello-smile6 commented on #105
Oh, it does? Should we do ARM64 builds for people like <a href="https://scratch.mit.edu/users/Chiroyce">@Chiroyce</a>?

[2021-12-28 19:00] webdev03 commented on #105
No, I mean to say, I did in the github action.

[2021-12-28 19:01] JaydenDev commented on #105
I had to make a tag.

[2021-12-28 19:01] JaydenDev commented on #105
that would require extensive work

[2021-12-28 19:02] JaydenDev commented on #98
why are you so against commiting directly to master. I can revert commits if I need to.

[2021-12-28 19:02] hello-smile6 commented on #105
Wouldn't it just be this?
[code]
Could we just use a MacOS runner?

[2021-12-28 19:02] webdev03 commented on #105
ARM64 isn't for github actions.

[2021-12-28 19:03] hello-smile6 commented on #105
I know, but you should be able to build ARM64 binaries on x64 MacOS, which works on GitHub Actions.

[2021-12-28 19:03] JaydenDev commented on #105
@hello-smile6 lets not give people less reasons to not use M1 macs

[2021-12-28 19:04] webdev03 commented on #105
I don't think it worked...

[2021-12-28 19:04] webdev03 commented on #105
It's giving the same ones?

[2021-12-28 19:04] hello-smile6 commented on #105
Why?
<a href="https://www.howtogeek.com/767684/how-to-install-linux-on-apple-silicon/#:~:text=%20How%20to%20Install%20Linux%20on%20an%20M1,can%20also%20create%20your%20own%20VM%2C...%20More%20">Linux is universal...</a>

[2021-12-28 19:05] hello-smile6 commented on #105
What did it say while building?

[2021-12-28 19:05] JaydenDev commented on #105
because I don't like Apple

[2021-12-28 19:05] hello-smile6 commented on #105
Wrong article, you can actually run Linux natively.

[2021-12-28 19:06] JaydenDev commented on #105
just keeping the x86_64 Mac builds so at the very least they aren't being ARM for laptops/PCs fans. ARM is strictly phones and tablets only forever

[2021-12-28 19:06] webdev03 commented on #105
I use a MacBook Air, please don't discriminate against me lol

[2021-12-28 19:06] JaydenDev commented on #105
@webdev03 32 bit building failed, check here:
https://github.com/JaydenDev/Catalyst/runs/4652773189?check_suite_focus=true

[2021-12-28 19:06] hello-smile6 commented on #105
I'll get you some ARM64 builds on my fork.

[2021-12-28 19:07] JaydenDev commented on #105
they can be built on the official repo fine

[2021-12-28 19:07] hello-smile6 commented on #105
I know what went wrong. It build x64 twice. Try this.
[code]

[2021-12-28 19:07] JaydenDev commented on #105
I'd prefer binaries be built on the official repo, unless the forks aren't a complete copy.

[2021-12-28 19:08] JaydenDev commented on #105
64 bit isn't wanted...

[2021-12-28 19:08] hello-smile6 commented on #105
I could always run `git pull` on my repo and build every 10 minutes.

[2021-12-28 19:08] webdev03 commented on #105
It says `x64` in the log. I keep on forgetting which architecture is which, but `x64` is going to be the modern one or `x86`?

[2021-12-28 19:08] JaydenDev commented on #105
cant you just

--arch x32

[2021-12-28 19:09] webdev03 commented on #105
ie32 is what I tried.

[2021-12-28 19:09] hello-smile6 commented on #105
I think `x32` is the wrong architecture name. I have a feeling it refers to it as `x86`.

[2021-12-28 19:09] webdev03 commented on #105
Oh wait, you mean, I had made `--arch=architecture` instead of `--arch architecture`!

[2021-12-28 19:10] JaydenDev commented on #105
@webdev03 im pretty sure your correct already tho.

[2021-12-28 19:10] hello-smile6 commented on #105
Oh, that explains it.

[2021-12-28 19:11] JaydenDev commented on #105
no --arch=arch is correct, the docs say

[2021-12-28 19:12] hello-smile6 commented on #105
Hmm, what was that about deletion of a `read the docs` comment? 😄

[2021-12-28 19:13] JaydenDev commented on #105
@hello-smile6 i read the docs and provided the information instead of linking docs.

[2021-12-28 19:14] hello-smile6 commented on #105
Oh.

[2021-12-28 19:34] webdev03 commented on #98
Why is this necessary? You can use another program for this purpose.

[2021-12-28 19:38] JaydenDev commented on #98
because I use, many use, everyone uses browser password managers. All the password managers not including browsers are PAID.

[2021-12-28 19:39] webdev03 opened #106 "Versioning"
no

node versioning (what you are supposed to be using because electron)

[code]
M = Major (for breaking changes, dramatic changes like whole rewrite)
F = Feature (For new features)
P = Patch (for bug fixes)

you should use this pattern or npm/pnpm/yarn will throw errors one day

Chrome/Firefox would use F.P, which would throw errors if used in package.json

But tbh, @webdev03 is correct.

_Origin

[2021-12-28 19:40] webdev03 commented on #106
Reason why, you can do your current thing with a different system, but this is a nodejs project.

[2021-12-28 19:40] hello-smile6 commented on #98
Not all of them are.

[2021-12-28 19:40] JaydenDev commented on #106
Closing as solved, because its not an issue at all.

[2021-12-28 19:41] webdev03 commented on #106
It will be in the future.

[2021-12-28 19:41] hello-smile6 commented on #106
Then use the "convert to discussion" button.

[2021-12-28 19:47] #106 closed

[2021-12-28 19:48] JaydenDev commented on #98
all of them are

[2021-12-28 19:50] hello-smile6 commented on #98
Hmm, https://wiki.archlinux.org/title/GNOME/Keyring

[2021-12-28 19:52] JaydenDev commented on #98
thats not what you think it is, also off topic. I'll have to make the password manager myself if nobody else will.

[2021-12-28 19:53] webdev03 commented on #98
JaydenDev you can make the manager yourself.

[2021-12-28 19:53] JaydenDev commented on #98
that means it'll never exist, or if it does manage to exist it'll be complete crap

[2021-12-28 19:55] webdev03 commented on #98
I've been doing a lot of work in this repository and I have spent hours. But you need to learn what your project is all about.

[2021-12-28 19:55] JaydenDev commented on #98
[code]

[2021-12-28 19:55] JaydenDev commented on #98
thats the best I can do :/

[2021-12-28 19:56] JaydenDev commented on #98
This feature isn't happening, closing.

[2021-12-28 19:57] JaydenDev commented on #104
Impossible to implement, closing.

[2021-12-28 19:57] JaydenDev commented on #103
not needed, closing.

[2021-12-28 19:58] webdev03 commented on #104
It's not impossible. Inject stylesheets into the window.

[2021-12-28 19:58] hello-smile6 commented on #98
Maybe make a `cantfix` label?

[2021-12-28 19:59] webdev03 commented on #98
`wontfix`

[2021-12-28 19:59] JaydenDev commented on #104
@webdev03 If I'm doing it then it is

[2021-12-28 20:00] webdev03 commented on #104
You should do something in this repository.. you laid out the base, but all of the new things have got too complicated...

[2021-12-28 20:01] hello-smile6 commented on #104
I agree.

[2021-12-28 20:02] JaydenDev commented on #104
@webdev03 The most I can do is front-end, (HTML and CSS, and very little JS)

[2021-12-28 20:03] hello-smile6 commented on #104
Then why not work on something you have more experience with?

[2021-12-28 20:03] JaydenDev commented on #104
@hello-smile6 the code is too flippin complicated, the only one that knows how to work it is @webdev03

[2021-12-28 20:03] JaydenDev commented on #104
dont comment on closed issues

[2021-12-28 20:05] hello-smile6 opened #107 "Replying to #104"
@hello-smile6 the code is too flippin complicated, the only one that knows how to work it is @webdev03

_Originally posted by @JaydenDev in https://github.com/JaydenDev/Catalyst/issues/104#issuecomment-1002262210_

Then why not change that?

[2021-12-28 20:06] #107 closed

[2021-12-28 20:14] JaydenDev commented on #97
This bug will unfortunately never be fixed :/

[2021-12-28 20:17] JaydenDev commented on #98
![image](https://user-images.githubusercontent.com/92550746/147603919-7ee830d3-8156-4df6-80f4-ff72a513ed47.png)
how to make click werk

[2021-12-28 20:19] hello-smile6 commented on #98
[code]
Does that help?

[2021-12-28 20:20] JaydenDev commented on #98
@hello-smile6 @webdev03 made the code, so I'm asking him, I'm not asking the person who broke FreeCat twice.

[2021-12-28 20:20] hello-smile6 commented on #98
Make sure to encrypt stored passwords.
https://cryptojs.gitbook.io/docs/

[2021-12-28 20:21] JaydenDev commented on #98
@hello-smile6 passwords can and will only be stored temporarily in the user's session. The password and username in the input boxes will be stored as variables that are only temporary.

[2021-12-28 20:21] hello-smile6 commented on #98
Fine. https://developer.mozilla.org/en-US/docs/Web/API/EventTarget/addEventListener I'm right, though.

[2021-12-28 20:24] JaydenDev commented on #98
[code]
How's this function?

[2021-12-28 20:24] JaydenDev commented on #98
well it doesn't work

[2021-12-28 20:27] JaydenDev commented on #98
@webdev03 whats the ID of the webvieW?

[2021-12-28 20:28] hello-smile6 commented on #98
Yes, and that means any process running as root on the user's device will be able to easily access passwords for all users. Additionally, any process running with access to whatever file you're storing passwords in will also be able to get the user's passwords.

[2021-12-28 20:28] JaydenDev commented on #98
I Need to use

[code]

[2021-12-28 20:29] JaydenDev commented on #98
@hello-smile6 I'm doing passwords to the best of my ability, sorry!

[2021-12-28 20:30] hello-smile6 commented on #98
If you look at `main.js`, `window.open` is disabled.
https://github.com/JaydenDev/Catalyst/blob/master/main/main.js#L50-L54

[2021-12-28 20:30] JaydenDev commented on #98
If you make me do passwords, expect them to suck.

[2021-12-28 20:30] JaydenDev commented on #98
if the webview(s) dont have a specific ID and window.open is disabled how will I do passwords then?

[2021-12-28 20:31] hello-smile6 commented on #98
Um, I'm not sure how. Also, it'd be `src`, not `value`.

[2021-12-28 20:31] JaydenDev commented on #98
well whatever I cant do it anyway

[2021-12-28 20:32] hello-smile6 commented on #98
Well, you could always look at how the Beaker web browser does it.
https://github.com/beakerbrowser/beaker

[2021-12-28 20:32] hello-smile6 commented on #98
If you want to try Beaker, https://beakerbrowser.com/install/

[2021-12-28 20:33] JaydenDev commented on #98
Ok passwords are canceled. If you wanted that feature too bad.

[2021-12-28 20:33] #98 closed

[2021-12-28 20:33] hello-smile6 commented on #98
Maybe it's possible.

[2021-12-28 20:34] JaydenDev commented on #98
Not with my knowlege of Javascript its not.

[2021-12-28 20:36] JaydenDev commented on #105
Neither 1.1 or 2.0 will be ever releasing.
Thank you everyone for your contributions but I will be killing the Catalyst project, forever. I will be archiving soon, if you like Catalyst please either go to Ninetails or another Electron browser.

[2021-12-28 20:36] JaydenDev commented on #97
Neither 1.1 or 2.0 will be ever releasing.
Thank you everyone for your contributions but I will be killing the Catalyst project, forever. I will be archiving soon, if you like Catalyst please either go to Ninetails or another Electron browser.

[2022-01-01 23:06] webdev03 commented on #105
Catalyst back! @JaydenDev

[2022-01-01 23:10] JaydenDev commented on #105
I'm going to remake this issue to declutter the conversation.

[2022-01-01 23:10] #105 closed

[2022-01-01 23:11] JaydenDev opened #110 "x86/32 Bit"

[2022-01-01 23:12] webdev03 commented on #105
#110

[2022-01-01 23:13] webdev03 commented on #110
Ok, I think KCCUBER made a pr in Ninetails that can do this. Could we ask KCCUBER to help?

[2022-01-01 23:14] JaydenDev commented on #110
well I can't @ him

[2022-01-01 23:14] webdev03 commented on #110
@kccuber-scratch

[2022-01-01 23:15] webdev03 commented on #110
Also by the way I don't have access anymore, is this intentional or not?

[2022-01-01 23:15] JaydenDev commented on #110
@webdev03 was to make sure nobody unarchived.

[2022-01-01 23:16] webdev03 commented on #110
Oh, I understand.

[2022-01-01 23:35] webdev03 commented on #110
Can you @JaydenDev make a release to test?

[2022-01-01 23:49] JaydenDev commented on #110
@webdev03 I'm making a release
I gave you write permissions but DONT make releases. I don't like how you label them.

[2022-01-01 23:49] webdev03 commented on #110
Ok.

[2022-01-01 23:54] webdev03 commented on #110
Hmm, doesn't seem to build. Just makes for `x64` twice.

[2022-01-01 23:56] JaydenDev commented on #110
it failed

[2022-01-01 23:58] webdev03 commented on #110
It failed, because it isn't building for 32-bit. Anyways, nobody uses 32 bit anymore. And by 2038 nobody will use it?

[2022-01-01 23:59] JaydenDev commented on #110
People are stuck with old computers

[2022-01-02 00:01] webdev03 commented on #110
Hmm. I don't think I can do this, as I can't test it. Can you try `npm run make -- --arch=ia32`?

[2022-01-02 01:08] JaydenDev commented on #110
you cant do npm run make with arguments

also I think the "--" blank argument your adding is the problem.

[2022-01-02 01:21] webdev03 commented on #110
`--` isn't the problem

[2022-01-02 01:39] JaydenDev commented on #110
Issues will not be closed until it is working on all 3 platforms Win/Mac/Linux.

[2022-01-02 01:51] JaydenDev opened #111 "Automatic creation of releases."
Can a beta release be created twice a day.

It goes by this format

year.month.number (number increments by 1 every beta)

[2022-01-02 01:58] webdev03 commented on #110
Electron Forge doesn't have Mac support. I'm unsure how to do it on Windows.

[2022-01-02 01:59] JaydenDev commented on #110
probobly the same way as you did it on linux
I don't need Mac32

[2022-01-02 02:01] webdev03 commented on #111
Is it time to copy Ninetails?

[2022-01-02 02:01] webdev03 commented on #110
I tried earlier with Windows. As you saw, it didn't work.

[2022-01-02 02:04] webdev03 commented on #111
You should learn Github Actions, it's quite fun. You can just `setup-node` with node 16, setup the git author, then make a script to get the date and `npm version`, then `git push --follow-tags`.

[2022-01-02 02:07] JaydenDev commented on #111
If I have to do it know it won't be happening, or it'll just suck.

Update not doing it, closing.

[2022-01-02 02:07] JaydenDev commented on #111
@webdev03 refused to do it, he's the only contributor. Closing.

[2022-01-02 02:08] JaydenDev commented on #110
Well, I guess just make Catalyst good so people switch to Linux.

[2022-01-02 02:08] webdev03 commented on #111
I can do it! But it should be in a separate repo.

[2022-01-02 02:10] webdev03 commented on #110
There are real use cases for Windows. But this isn't the place to have OS wars. Instead, help with the transition away from 32 bit processors, and only provide it for Linux devices.

[2022-01-02 02:20] webdev03 commented on #111
`.number` will be hard to do, so I'll just make it the current day and `-beta`.

[2022-01-02 02:31] JaydenDev commented on #111
@webdev03 alright!

[2022-01-02 02:37] webdev03 commented on #111
Look, I made it so you and I can manually trigger it, it makes the tag. I don't know how to automate publishing it, though.

[2022-01-02 02:41] webdev03 commented on #111
Edit, also, it says something about a PAT (personal access token) for the repo if we want the automatic releaser (the one that builds binaries) to work.

[2022-01-02 02:50] JaydenDev commented on #111
@webdev03 make it all one action.

[2022-01-02 02:52] webdev03 commented on #111
What about stable builds?

[2022-01-02 03:53] JaydenDev commented on #111
@webdev03 stable builds are released manually.

[2022-01-02 03:54] webdev03 commented on #111
Yes, I know. But the problem is that it won't trigger the action. I'll do that in.. *checks* about 10 minutes (sorry got distracted)

[2022-01-02 03:55] JaydenDev commented on #111
since beta builds will be automatic, you can have an action for beta builds, then one for manually created releases.

[2022-01-02 03:59] webdev03 commented on #111
I *think* it should build now, but I don't think we can make them "un-draft" automatically without doing something to the Forge configuration.

[2022-01-02 04:01] JaydenDev commented on #111
I can finish the creation I just need it at least semi-automatic

[2022-01-02 04:01] webdev03 commented on #111
Ok, semi automatic testing initiated.

[2022-01-02 04:05] webdev03 commented on #111
It seems to have worked, but only on the last test I did an hour ago. I am checking the docs.

[2022-01-02 04:07] JaydenDev commented on #111
2022.1.0-beta?
No its 22.1.100
*the numbers at the end start at 100

[2022-01-02 04:09] JaydenDev commented on #111
if you want to use the old dev method of 22.1.daynumber

[2022-01-02 04:23] webdev03 commented on #111
I told you that I don't know how to increment with Actions (maybe by a file in the repo?) so you can change the code in https://github.com/The-Catalyst-Browser-Project/ci-auto-release/blob/main/auto.js to do whatever you want.

[2022-01-02 04:24] JaydenDev commented on #111
you can use day at the end and just update the script every month.
since it is
year.month.day it should be fairly easy right?

[2022-01-02 04:24] webdev03 commented on #111
Y.M.D is already there. You mean by removing first two digits?

[2022-01-02 04:27] JaydenDev commented on #111
yeah so its 22 instead of 2022

**It was at this time I thought that this would be a mistake, this would make the script not Y3K compliant, it would... break in the year 3000. **

[2022-01-02 04:28] webdev03 commented on #111
Not Y3K. You mean to say, 2100.

[2022-01-02 04:28] JaydenDev commented on #111
oh...

[2022-01-02 04:29] JaydenDev commented on #111
well, including the first 2 digits should be fine til 2.1k

[2022-01-02 04:31] JaydenDev commented on #111
@webdev03
if you could add "(Tabby Beta)" at the end of the name of every release **BEFORE 1.0** **NOT INCLUDING PRE-RELEASES**
add it to the end of the name of every tabby beta

[2022-01-02 04:32] webdev03 commented on #111
Can you give me an example of what to put "Tabby beta" and what to not?

[2022-01-02 04:33] JaydenDev commented on #111
i have to go soon but pretty much
21.12.100 all the way to the last beta BEFORE 1.0 (not releases with the -prerel or -prerelease ending)
Correct caps
(Tabby Beta)

[2022-01-02 04:33] JaydenDev commented on #111
DONT mess this up, if you are still confused DONT TRY to do it at all.

[2022-01-02 04:33] webdev03 commented on #111
I understand.

[2022-01-02 04:35] webdev03 commented on #111
Actually, I don't understand. I'll undo my change.

[2022-01-02 04:45] webdev03 commented on #111
@JaydenDev this should be done, I tested, automation works, so I'll close this. If you have a problem with the tag names, feel free to reach out at https://github.com/The-Catalyst-Browser-Project/ci-auto-release/

[2022-01-02 04:54] #111 closed

[2022-01-02 05:19] CocoTheMii opened #112 "Search autocomplete suggestions do not disappear if enter is pressed too soon"
### Steps to Reproduce

1. Make sure address bar is empty
2. Quickly type anything into the address bar
3. Before the autocomplete suggestions appear, press enter to search

### Expected Result

DuckDuckGo results are displayed as normal.

### Actual Result

DuckDuckGo results are displayed, but are obscured by the autocomplete suggestions, which pop up simultaneously. The suggestions only disappe

[2022-01-02 11:44] webdev03 commented on #112
OK, I'll fix it.

[2022-01-02 16:22] JaydenDev commented on #112
@webdev03, is the one that designed the entire UI, autosuggestions, and tailwind implementation btw!

[2022-01-02 16:23] JaydenDev commented on #112
Also, what version of Catalyst is being used here? Is it 1.0, or a pre-release or a beta build?

[2022-01-02 16:27] JaydenDev commented on #111
@webdev03 it does work!

[2022-01-02 16:52] JaydenDev commented on #112
I have been able to reproduce the bug successfully.

[2022-01-02 16:57] JaydenDev commented on #112
I shortened the title to not take too lines.

[2022-01-02 17:02] JaydenDev commented on #112
@webdev03 how's the fixin' goin?

[2022-01-02 18:08] kccuber-scratch commented on #110
I only really need a linux build

[2022-01-02 18:56] JaydenDev commented on #112
Affected Versions: {Tabby Beta, Tabby, Scottish Fold Beta}

[2022-01-02 19:57] JaydenDev commented on #112
@webdev03 you could have a 3 second timeout after the page being changed for the autosuggestion to disappear.

[2022-01-02 20:53] webdev03 commented on #112
I am going to fix it later.

[2022-01-02 21:09] JaydenDev commented on #112
Please tell what time zone you have to prevent night time pings.

[2022-01-02 21:40] webdev03 commented on #112
Can you make a fix for it? I can't figure out how.

[2022-01-02 21:43] JaydenDev commented on #112
@webdev03 well, I have an idea.

Trigger: After Web Page Finish Loading
Action: If search suggestions still shown hide them after 3 seconds. It doesn't have to know if its hidden or not it just needs to try to.

[2022-01-02 21:55] JaydenDev commented on #112
I think it'll work. There's Javascript code online to hide an element. There's listeners for when a page load finishes.

[2022-01-02 22:02] webdev03 commented on #112
I know how to hide an element @JaydenDev and I have already implemented listeners on page load finish. Working on it

[2022-01-02 22:04] JaydenDev commented on #112
So it's fixed?

[2022-01-02 22:05] webdev03 commented on #112
Yes...

[2022-01-02 22:05] #112 closed

[2022-01-02 22:05] JaydenDev commented on #112
ok

[2022-01-02 22:05] JaydenDev commented on #112
Bug fixed!

[2022-01-02 22:10] JaydenDev commented on #112
confirmed

[2022-01-02 22:35] JaydenDev commented on #97
So is this bug gonna get fixed before Scottish Fold releases?

[2022-01-02 22:44] webdev03 commented on #97
This bug may not be fixed, I think somebody with a bit more CSS experience could help.

[2022-01-02 22:48] webdev03 commented on #110
(update) I've made it so that beta builds don't have 32 bit builds. Migrate over to another architecture if you want beta builds.

[2022-01-02 22:49] JaydenDev commented on #97
@webdev03 you and I and velocity are currently the only people working on Catalyst at the moment. With a few others making bug reports.

[2022-01-02 22:50] JaydenDev commented on #110
@webdev03 this is against what Catalyst is about once again. I don't support architecture or OS discrimination unless it's against Mac M1

[2022-01-02 22:51] webdev03 commented on #110
OK, but, you are discriminating against Mac 32 and Windows 32.

[2022-01-02 22:51] JaydenDev commented on #110
@webdev03 I'm not the one handling auto building...

[2022-01-02 22:51] JaydenDev commented on #110
Win32 is hard? You said that. Mac32 is impossible? You said that.

[2022-01-02 22:52] JaydenDev commented on #110
also dont comment on closed issues, close this one when your done talking in it.

[2022-01-02 22:52] webdev03 commented on #110
Done.

[2022-01-02 22:52] #110 closed

[2022-01-02 22:56] JaydenDev opened #115 "Contribution Guidelines"
The additions to the Contribution Guidelines

- Please don't keep the default commit name that github makes. Change it, to describe very briefly what the commit does. For example, 'Update auto.yml' is not good and doesn't describe what the commit does. 'ci: add 32 bit building to auto releaser' describes the commit much better.
- Do not fight in PRs or issues, that just slows things down.
- Put co

[2022-01-02 22:58] webdev03 commented on #115
OK, you should add this in a `CONTRIBUTING.md` file. It will prompt everyone who wants to contribute too.
Sorry for the default commit names. We could enforce semantic naming with Commitizen...

[2022-01-02 23:03] JaydenDev commented on #115
Already did that.

[2022-01-02 23:12] webdev03 commented on #115
I edited it.

[2022-01-02 23:14] JaydenDev commented on #115
@webdev03 i dont like what you did.

[2022-01-02 23:15] JaydenDev commented on #115
@webdev03 fixed it.

[2022-01-02 23:18] webdev03 commented on #115
K

[2022-01-02 23:19] JaydenDev commented on #115
This isn't an issue to comment on, it's a notice. I will delete all the comments.

[2022-01-02 23:27] JaydenDev commented on #115
@webdev03 update the post when updating the file.

[2022-01-02 23:44] JaydenDev opened #117 "Remove Unfinished Passwords Feature"
Components to remove

- Button in more menu labeled "Passwords"
- Passwords.js and Passwords.html in src/

[2022-01-02 23:47] JaydenDev commented on #117
#118

[2022-01-03 00:18] #117 closed

[2022-01-03 00:36] webdev03 commented on #65
@JaydenDev want to do it?

[2022-01-03 00:42] JaydenDev commented on #65
@webdev03 you shouldn't keep spamming this issue even after I close the original.

[2022-01-03 00:42] #65 closed

[2022-01-03 00:45] webdev03 commented on #65
I thought you had said

[2022-01-03 15:59] JaydenDev opened #119 "First build with 32 bit binaries available!"
For linux only though.
@kccuber

[2022-01-03 16:00] JaydenDev commented on #119
well not the first, but its a catch up to the latest features.

[2022-01-03 17:36] JaydenDev opened #122 "Features for use of Scratch Website with Catalyst"
### Discussed in https://github.com/JaydenDev/Catalyst/discussions/121

<div type='discussions-op-text'>

<sup>Originally posted by **JaydenDev** January  3, 2022</sup>
Goals
## Scratch Forums Image Uploader Implementation
- Copy Paste, image to scratch uploads link
- Button to add image to post
## Scratch 2.0 > 3.0
- Convert web pages with 2.0 styling to 3.0 styling
## Scratch Dark Mode</div>

[2022-01-03 17:45] JaydenDev commented on #122
@webdev03 you know how the Scratch Addons extension and the scratch API works RIGHT!?

[2022-01-03 17:47] JaydenDev commented on #122
very sorry for the ping, I just now noticed its 6 AM in NZ.

[2022-01-03 20:26] JaydenDev opened #125 "Design Changes for 2.0 (Scottish Fold)"
## Goals

- [x] Make each bookmark in bookmark bar be seperated from the bar itself.
This just means contrast the clickable bookmark from the bar. Have the actual bar be the background, and the bookmarks have its own background.

[2022-01-03 20:27] JaydenDev commented on #125
To explain the change for bookmarks. Look at the tabs. Foreground: The tabs themselves. Background: The bar itself. Gonna make the bookmarks be just like that.

[2022-01-03 21:17] webdev03 commented on #122
It's ok!

[2022-01-03 21:17] webdev03 commented on #122
I think this should be done when we eventually have WebExtensions support. I'll work on userscripts later.

[2022-01-03 21:22] Mbrick2 commented on #122
lets just use the scratch addons code and give credit like turbowarp.

[2022-01-03 21:26] webdev03 commented on #122
Catalyst isn't just for Scratch Users. Useless scripts for non-scratch users.

[2022-01-03 21:27] webdev03 commented on #125
OK

[2022-01-03 21:29] JaydenDev commented on #122
It can be optional and disabled by default or be an addon available for scratch users.

[2022-01-03 21:30] JaydenDev commented on #122
It's in chrome and Firefox format. Catalyst doesn't even have extensions

[2022-01-03 22:38] JaydenDev commented on #125
Some extras
## Show Catalyst version in settings panel
## Have button to rerun update checking function.

[2022-01-03 22:43] JaydenDev commented on #125
#126

[2022-01-03 23:21] kccuber-scratch commented on #125
yep, i suggested the bookmark background thing before you temporarily canceled catalyst: https://github.com/JaydenDev/Catalyst/pull/91#issuecomment-1001063464

[2022-01-03 23:42] webdev03 commented on #125
https://github.com/JaydenDev/Catalyst/commit/6d36de4ac34f131bc3446c417607f5cef1350036

[2022-01-03 23:45] JaydenDev commented on #125
@webdev03 great, it works! but please make a PR next time so I can better investigate and test your code.

[2022-01-03 23:46] webdev03 commented on #125
Ok, sorry! I'll make new branches from now on.

[2022-01-03 23:47] JaydenDev commented on #125
Every design change for 2.0 has been done! Now what features for 2.0 idk.

[2022-01-03 23:47] #125 closed

[2022-01-03 23:50] webdev03 commented on #125
I don't think we have to have a million features. Well, Find could be one that I can try to implement.

[2022-01-03 23:52] webdev03 commented on #122
I think something like TamperMonkey Userscripts would be nice.

[2022-01-04 00:12] webdev03 commented on #122
#127 should be able to do a bit of this, but not fully resolve it.

[2022-01-04 01:49] #119 closed

[2022-01-04 03:12] JaydenDev opened #130 "M1 Build User Submission."
Submit your M1 packages here!

[2022-01-04 03:12] webdev03 commented on #130
I already told you that GitHub Actions doesn't have M1

[2022-01-04 03:13] JaydenDev commented on #130
oh... users will have to contribute then.

[2022-01-04 03:15] webdev03 commented on #130
Why'd you just change the title @JaydenDev

[2022-01-04 03:16] JaydenDev commented on #130
it's called post recycling.

[2022-01-04 03:21] webdev03 commented on #115
Closing because this isn't a real issue. This will still be pinned.

[2022-01-04 03:21] #115 closed

[2022-01-04 03:23] webdev03 commented on #97
This bug may not be fixed, I think somebody with a bit more CSS experience could help.

[2022-01-04 20:14] webdev03 opened #132 "@webdev03 it is neccesary that this feature be added. Please continue to write it."
@webdev03 it is neccesary that this feature be added. Please continue to write it.

__Originally posted by @JaydenDev in https://github.com/JaydenDev/Catalyst/pull/127#issuecomment-1005137092__

Sorry I won't

[2022-01-04 20:22] JaydenDev commented on #132
ok fine then, btw if I really wanted to I could force merge it but I won't. Also reply to the post instead of making issue posts please.

[2022-01-04 20:22] #132 closed

[2022-01-04 20:23] JaydenDev commented on #115
Since nobody will be contributing I don't need this pinned.

[2022-01-04 20:23] JaydenDev commented on #122
Too hard to implement

[2022-01-04 20:23] #122 closed

[2022-01-04 21:19] webdev03 commented on #132
I couldn't reply, the button didn't work. You locked it.

[2022-01-04 21:20] JaydenDev commented on #132
ok...?

[2022-01-04 23:52] JaydenDev opened #135 "Optional Opt-In Auto Updates."
For all platforms obviously!

[2022-01-05 03:16] webdev03 commented on #135
not possible
and you dont have money to get the certificates
@JaydenDev close?

[2022-01-05 03:31] JaydenDev commented on #135
wdym certificates?

[2022-01-05 03:31] webdev03 commented on #135
you have to get signing certificates

[2022-01-05 03:32] webdev03 commented on #135
on mac I mean, on windows you may be able to set it up. you should get a mac and pay for developer program if you want it on mac.

[2022-01-05 03:32] JaydenDev commented on #135
on Mac you just install the DMG just fine.

[2022-01-05 03:33] JaydenDev commented on #135
Also I can't (and won't) get a Mac, or pay for a developer program.

[2022-01-05 03:34] webdev03 commented on #135
then pay 400 dollars for a windows certificate

[2022-01-05 03:34] webdev03 commented on #135
and the dmg still requires you to accept a scary warning

[2022-01-05 03:35] JaydenDev commented on #135
oh well then apple programs. Also I'm not paying anything for any certificate just don't be stupid or scared and think its a virus.

[2022-01-05 03:36] webdev03 commented on #135
do you realise that its really hard to get rid of the warning for the average user?

[2022-01-05 03:36] webdev03 commented on #135
anyways im gonna not contribute anymore

[2022-01-05 03:37] JaydenDev commented on #135
do you realize I don't need to?

[2022-01-05 03:38] JaydenDev commented on #135
just because I won't spend hundreds on certificates and pay a stupid money hungry company money for an overpriced piece of Aluminum, overpriced parts, and be locked into a stupid ecosystem?

[2022-01-05 03:42] webdev03 commented on #135
im not contributing because i dont like contributing, thats all. i never specified that it was because you arent going to waste your money on certificates. but saying it is possible when it is impossible or at best possible with some major changes

[2022-01-05 03:43] JaydenDev commented on #135
Well, don't expect big features. Only bug fixes from now on. You could easily guess why.

[2022-01-05 03:52] webdev03 commented on #97
@JaydenDev could you fix this?

[2022-01-05 03:52] webdev03 commented on #135
@JaydenDev could you do this?

[2022-01-05 03:52] JaydenDev commented on #97
idk why you're asking me

[2022-01-05 03:52] #97 closed

[2022-01-05 03:54] JaydenDev commented on #135
No

[2022-01-05 06:22] webdev03 commented on #130
How will you verify these aren't viruses?

[2022-01-05 08:40] webdev03 commented on #97
maybe because you are the "repository maintainer"?

[2022-01-06 01:56] webdev03 commented on #130
@JaydenDev close

[2022-01-08 20:55] kccuber-scratch commented on #119
you tagged the wrong user 😄

[2022-01-09 09:08] webdev03 commented on #130
@JaydenDev close

[2022-01-09 15:03] JaydenDev commented on #130
You trust the process that's what.

[2022-01-09 17:12] JaydenDev opened #143 "a long list of bugs for somebody to fix? :("
youtube comments dont load
sometimes tabs get locked up and cant be used anymore.

[2022-01-10 03:20] kccuber-scratch commented on #143
1. What's the user agent that `navigator.userAgent` reports?
2. Probably a memory leak

[2022-01-11 03:14] webdev03 commented on #143
can be changed in preferences

[2022-01-11 03:15] kccuber-scratch commented on #143
screenshot? I dont use catalyst myself

[2022-01-11 03:18] JaydenDev commented on #143
well how to remove Catalyst/1.1.2 from the UA?

[2022-01-11 03:18] JaydenDev commented on #143
btw nobody commit to main I have a PR going

[2022-01-11 03:19] JaydenDev commented on #143
its a design PR but who cares its the wrong year anyway!

[2022-01-11 21:45] JaydenDev opened #152 "Auto builds for MacOS no longer work"
@webdev03
made a bug in the auto build system. Check the logs for 1.1.3

[2022-01-11 22:25] kccuber-scratch commented on #143
How ninetails does it.

[2022-01-11 22:26] JaydenDev commented on #143
@kccuber-scratch I mean so that a big company's browsers's UA can be injected with no change.

[2022-01-11 22:27] JaydenDev commented on #143
#152 also exists as well :(

[2022-01-13 20:46] webdev03 commented on #152
try rearranging `env` after `name`

[2022-01-13 22:41] kccuber-scratch commented on #143
no idea, i browsed thorugh ninetails code but couldn't fins anything

[2022-01-13 23:50] webdev03 commented on #143
why is this marked with the `javascript` label? that's for dependabot

[2022-01-13 23:56] webdev03 commented on #143
By the way, the `liberty` issue should be fixed (reinstall deps). It was due to Color JS having an infinite loop. https://github.com/Marak/colors.js/commit/074a0f8ed0c31c35d13d28632bd8a049ff136fb6

[2022-01-15 14:10] JaydenDev commented on #152
This issue has since been fixed.

[2022-01-15 14:10] #152 closed

[2022-01-15 14:10] JaydenDev commented on #135
costs too much

[2022-01-15 14:10] #135 closed

[2022-01-15 14:10] JaydenDev commented on #130
they are already automatic

[2022-01-15 14:10] #130 closed

[2022-01-15 14:11] JaydenDev commented on #122
not doing this

[2022-01-18 22:23] webdev03 opened #155 "auto builds have wrong time in tag/version name"
### Steps to reproduce the issue?

just look at the auto builds and their release names

### What happened?

i expected to see a real date from the timezone gh actions uses not one from 2 weeks ago

### Your environment (if applicable)

_No response_

### Version

n/a

[2022-01-18 22:23] JaydenDev opened #156 "Android Version"
I would like to have an Android (APK) version. Somehow..

[2022-01-18 22:23] webdev03 commented on #156
try using capacitor/ionic

[2022-01-18 22:23] JaydenDev commented on #155
you made the entire build system, you know how to fix it.

[2022-01-18 22:24] webdev03 commented on #155
i dont know how to fix it

[2022-01-18 22:27] JaydenDev commented on #155
I don't care if your contributing or not well too bad because Catalyst isn't getting any updates any time soon because of this.

[2022-01-18 22:27] #155 closed

[2022-01-22 23:28] VelocityDesign commented on #143
Oh yeah looks like we got hit by the sabatoge.

[2022-01-22 23:50] JaydenDev commented on #143
because Catalyst is like half javascript

[2022-01-22 23:51] JaydenDev commented on #156
wut?

[2022-01-23 01:18] webdev03 commented on #135
better solution: put it on linux package managers, winget, and homebrew?

[2022-01-24 05:07] webdev03 commented on #143
sabotage??

[2022-01-24 23:10] webdev03 commented on #156
https://capacitorjs.com/

[2022-01-24 23:38] JaydenDev commented on #156
No Android port will be provided officially, you may port it yourself.

[2022-01-24 23:38] #156 closed

[2022-02-01 21:39] JaydenDev commented on #143
c a n
t h e s e
b u g s
g e t
f i x e d
?

[2022-02-07 05:31] hello-smile6 commented on #143
Making a PR.

[2022-02-19 18:05] JaydenDev opened #172 "2.0"
We gotta release it soon, here's what we have to do at least!

- Fix bugs listed in other issue post
- Fix blurry, pixelated icon in Window title-bar on Windows
- Custom loading screen

[2022-03-06 01:59] Mbrick2 opened #179 "Add Screenshots"
@JaydenDev could you please put screenshots with each release

[2022-03-07 08:31] Mbrick2 commented on #179
@JaydenDev @JaydenDev @JaydenDev @JaydenDev @JaydenDev @JaydenDev @JaydenDev @JaydenDev @JaydenDev

[2022-03-07 22:03] JaydenDev commented on #179
The more you spam, the longer I'll take to do it.

[2022-03-08 00:21] 3DSdev commented on #179
stop spamming

[2022-03-10 00:41] silvxrcat opened #183 "Add JSON theme compatability"
**Is your feature request related to a problem? Please describe.**
No, it is not. I would like to have JSON themes

**Describe the solution you'd like**
I would like it to be constructed like:
[code]
Parsing it would be easy.
[code]

**Describe alternatives you've considered**
[code]
[code]

**Additional context**
among us

[2022-03-10 01:05] JaydenDev commented on #183
Your feature request will be considered.

[2022-03-12 15:40] JaydenDev opened #184 "Catalyst 1.2 [Planned Release, Next Week]"
- [ ] Loading Screen

[2022-03-14 00:17] #184 closed

[2022-03-14 00:19] JaydenDev opened #187 "update checker messed up"
When running 1.2.0 it says an update is available for 1.1.12 when 1.2.0 is in fact the latest release

[2022-03-14 16:00] ScolderCreations opened #189 "Preload script is mostly useless"
https://github.com/JaydenDev/Catalyst/blob/2b28a5c2ae26f8036b4da8611a77b16f4a041952/main/preload.js#L10

This is for the default Electron project, and doesn’t seem to be used in Catalyst.

[2022-03-14 16:10] ScolderCreations commented on #189
Don’t even get me started with the renderer script… It’s just comments.

[2022-03-14 16:26] JaydenDev commented on #189
I'm sure the preload is used to get {version} working
Renderer script is useless though.

[2022-03-14 22:52] webdev03 commented on #189
Preload isn't used to get the version used in user agent.

By the way, I could try to help you with getting plugins to go in `~/Library/Application Support/Catalyst/plugins` if you want.

[2022-03-14 22:54] JaydenDev commented on #189
kk

[2022-03-14 22:54] webdev03 commented on #187
The update checker wasn't designed to handle more than 2 digits at the end.. hm....

[2022-03-14 22:55] JaydenDev commented on #187
well that likely wont happen again with the healthy flow of new feature updates!

[2022-03-16 20:54] JaydenDev commented on #183
@silvxrcat Instead of adding themes, plugins will be available to be installed. However, plugins can only be installed before Catalyst has been compiled.

[2022-03-18 17:07] JaydenDev opened #193 "PSA: We need a 1024x1024 resolution icon for Catalyst"
@VelocityDesign
at the moment I am getting the Catalyst browser uploaded to the Electron app store
to do this, I will need a 1024x1024 icon for Catalyst

[2022-03-18 17:09] JaydenDev commented on #193
A contributor has contributed an icon, closing.

[2022-03-18 17:09] #193 closed

[2022-03-18 18:04] VelocityDesign opened #194 "Package for Flatpak"
### Is your feature request related to a problem? Please describe.

Some systems don't have support for the packages here. Additionally, flatpaks are sandboxed and more secure by design.

### Describe the solution you would like!

Building this as a Flatpak would allow more systems to have access to the browser. It should be easy to build a flatpak from the Debian package.

### Describe alternativ

[2022-03-18 18:31] JaydenDev commented on #194
I do in fact have a system running Fedora, I do not have the required knowlege or resources to distribute a flatpak package. Also, these packages would have to be made manually so they would become outdated anyway. If you wish to provide these pages, or make an automatic way to do so, that would be much appreciated.

[2022-03-26 02:22] webdev03 commented on #194
I don't know about flatpak, but would https://www.electronforge.io/config/makers/flatpak work?

[2022-03-26 03:06] JaydenDev commented on #194
or even more difficult, making it work with GitHub actions, and uploading it to flathub (manually D:)

[2022-03-31 00:37] #189 closed

[2022-03-31 00:37] #179 closed

[2022-03-31 00:37] #143 closed

[2022-03-31 05:26] Steve0Greatness opened #201 "[Bug]: Won't open on macos"
### Steps to reproduce the issue?

1. Use Mac OS
2. Try opening the DMG

### What happened?

<img width="420" alt="'catalyst' cannot be opened because it is from an unidentified developer; macOS cannot verify that this app is free from malware." src="https://user-images.githubusercontent.com/75220768/160982458-fe337af4-3491-4ff2-bfa0-819f36acc500.png">

I think it speaks for itself

### Your envir

[2022-03-31 05:30] webdev03 commented on #201
That's because @JaydenDev won't spend $200 NZD every year. Just right click the DMG and press Open if you need to bypass that.

[2022-03-31 05:38] #201 closed

[2022-04-02 03:04] JaydenDev commented on #194
Is flatpak really neccesary? Just run binaries, or use the RPM package. If you are intentionally using a distribution that requires flatpaks thats on you.

[2022-04-02 03:04] #183 closed

[2022-04-02 03:20] JaydenDev commented on #194
@webdev03 I got the config in package.json working, you just need to add it to the gh actions. I've been at it for 30 minutes now haven't found out what I'm doing.

[2022-04-02 03:20] JaydenDev commented on #187
In the next point release I'll temp disable update checking til a fix is found.

[2022-04-02 03:43] webdev03 commented on #187
Just remove the releases with more than 3 digits

[2022-04-02 03:44] webdev03 commented on #194
I need to? Why do I have to?

[2022-04-02 13:29] JaydenDev commented on #194
Your the only one that knows how, lmao. You made the action.

[2022-04-02 13:30] JaydenDev commented on #187
No, removing releases is not an option. Also, triple digit releases will never be uncommon, releases get patches you know..

[2022-04-02 21:05] VelocityDesign commented on #194
I'm not using silverblue anymore, just fedora. However, flatpaks can be very helpful.

[2022-04-02 21:35] JaydenDev commented on #194
in what way? lmao

[2022-04-03 00:08] webdev03 commented on #194
You know I'm not a linux person.... how would I know?

[2022-04-03 01:05] JaydenDev commented on #194
Wouldn't it be the same as when you added M1 builds? 'npm run make' ran on fedora would already produce a flatpak.

[2022-04-03 01:08] webdev03 commented on #194
https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners doesn't have fedora?

[2022-04-03 01:27] JaydenDev commented on #194
I'm sure you can do the flatpak with Ubuntu though.

[2022-04-03 01:27] JaydenDev commented on #194
I'm sure you can do the flatpak with Ubuntu though.

[2022-04-03 04:11] webdev03 commented on #194
OK, so, just add the flatpak builder.

[2022-04-03 15:05] JaydenDev commented on #194
yes i think anyway

[2022-04-08 22:55] #187 closed

[2022-04-10 16:42] JaydenDev opened #212 "pluginWorker.js filesystem access"
pluginWorker.js must be given filesystem access to load plugins without recompiling. Any ideas?

[2022-04-11 23:23] Darth-Ness commented on #212
For plugins I would recommend not saving them locally. Instead have a list of them stored in local storage or something, then fetch them on startup. Make sure add-on fetching does not block the the app from rendering.

[2022-04-12 11:00] Darth-Ness commented on #212
No, I meant if plugins were downloaded from catalyst.plugins.com (Just an example) everytime someone downloads a plugin, it saves the link to the plugin in local storage. Then on browser start up, using those links. Catalyst reinstalls all of those plugins.
Here is an idea of what that would look like in code.

[code]

[2022-04-12 20:32] JaydenDev commented on #212
I don't see how this would work. Also I would have to host the plugins on github pages, but like how would I host them. How would this work.

[2022-04-13 12:48] Darth-Ness commented on #212
I doubt you could host on GitHub Pages. Replit would probably be better. But basically, you would use a fetch request
to get the addons from wherever you hosted/

[2022-04-13 20:27] JaydenDev commented on #212
No matter how, I'd still have to write my own API.

[2022-05-30 02:28] kccuber-scratch opened #229 "[Bug]: Somehow, this was deployed on Github Pages"
### Steps to reproduce the issue?

In the github sidebar on this repo, under "Environments," click "Github-Pages." Click "View Deployment" on the top one.

### What happened?

An error that probably came as a result of it thinking it's actually the browser, and it said that this webpage couldn't be found or something.

### Your environment (if applicable)

Firefox, although I'd assume this error w

[2022-05-30 03:04] JaydenDev commented on #229
This bug is to be reported to the owners/developers of said service. I have checked the settings, and I have not deployed GitHub pages with this repository.

[2022-05-30 03:04] #229 closed

[2022-05-31 01:06] texstar opened #230 "[Bug]: Bookmark toolbar not showing"
### Steps to reproduce the issue?

I mark to show bookmark toolbar but it fails to show. Debian pkg.

### What happened?

Nothing happens.

### Your environment (if applicable)

_No response_

### Version

3.1.1

[2022-05-31 01:08] JaydenDev commented on #230
Just a question, do you actively use the Catalyst browser?

[2022-05-31 01:13] JaydenDev commented on #230
Can't reproduce bug. I checked 'Show Bookmarks' myself and the bookmarks bar showed. What I think happened, is that either there was a localStorage issue on your device, or you don't have any bookmarks set. Please verify that you have bookmarks saved.

[2022-05-31 06:15] texstar commented on #230
No. I found it on Electron Apps and thought ooooh a new browser to try. Maybe it can go into our software repository for PCLinuxOS.

[2022-05-31 06:33] texstar commented on #230
I tried to bookmarks a couple of sites. I have no idea what is going on but 2 others reported the same. Maybe it doesn't like us.  Everything else seems to be functioning within normal parameters.  Thanks for the reply.

[2022-05-31 14:09] JaydenDev commented on #230
Sweet! Anyone is allowed to package my software into their repositories. Just make sure to mark it as unofficial!

[2022-05-31 14:15] JaydenDev commented on #230
Try clearing your localStorage
1. Press CTRL + I (or CTRL + A and click Dev Tools)
2. Click console
3. Run:
[code]
Then all your settings, flags, and bookmarks will be cleared.

[2022-05-31 19:46] texstar commented on #230
/usr/lib/catalyst/resources/app/src/firstTime.js not  FirstTime.js

[2022-05-31 20:06] JaydenDev commented on #230
### Testing the new source
You can test the new source by pasting the following into your terminal. **MAKE SURE YOU HAVE NPM INSTALLED!**
[code]
Then cd to the directory of the compiled binary or package.

[2022-06-01 22:48] texstar commented on #230
No bookmark toolbar yet. I'll wait for the next release and see what happens. I did get a new menu option on launch if I wanted to customize catalyst.

[2022-06-02 00:03] JaydenDev commented on #230
Yes, I'm pretty sure the 'new menu option on launch' you speak of is the banner that shows up upon first launch. When you clear localStorage or install Catalyst for the first time that shows up. That's a welcoming banner.

[2022-06-03 02:09] texstar commented on #230
I deleted the .config/catalyst folder before launching so that is the reason the banner showed up. Thanks for the information about 4.0. Good luck with your browser.

[2022-06-19 02:49] JaydenDev opened #241 "i seriously need help with Moving forward with Catalyst Native."
Catalyst Native (4.0) is a highly anticipated project. As of now, I am testing and coding up the GTK version of Catalyst codenamed (Catalyst Native Attempt #2).

[2022-06-20 15:32] #212 closed

[2022-07-03 17:01] JaydenDev commented on #241
fr, need help, please...

[2022-07-05 10:36] 3oheicrw opened #249 "Is there 7z archives for Windows?"
Electron based browsers I tried all have .7z archives contain complete software distribution that can be extracted and ready to use. Even though they are not portable but they are very handy. I don't want to actually installing to be able to try it nor dealing with the nuget package. Could you provide these 7z archives too? I didn't find them on your release page.

[2022-07-05 13:21] JaydenDev commented on #249
There's binaries for all sorts of operating systems, zip files for them to. I'll try to find/make a zip file.

[2022-07-05 13:23] JaydenDev commented on #241
Electron isn't 'native' as well. Electron requires the UI be made of HTML and JavaScript. Said JavaScript cannot access node libraries, meaning I cannot go any forward than a basic UI with tabs and minimal functionality. Also, GTK has already failed me so...

[2022-07-05 18:04] 3oheicrw commented on #249
Currently for Windows only have a nuget package (nupkg) and an installer. I saw zips for darwin (macOS) but didn't see zips for Windows. This is the reason why I asked you.

[2022-07-05 18:08] 3oheicrw commented on #241
Go Qt? QtWebEngine is powerful. But keep in mind, there are a bunch of Qt based browsers out there (otter, dooble, viper, falkon,...) :wink: Another solution is to go full blown Chromium :smile:

[2022-07-05 18:51] JaydenDev commented on #241
You probably haven't read up on some details, considering you found this repository through GitHub and not Scratch. But the chromium build tools are a bit of a pain to get working and I haven't been able to. I'll try QT I guess.

[2022-07-05 18:52] JaydenDev commented on #249
I'm confused on why you insist on not installing it. But you can try to build it yourself and a zip or just plain directory containing the files might be built.

[2022-07-05 21:51] 3oheicrw commented on #241
Try contributing to or fork one of the already available Qt based browser before starting everything from scratch. There are already too many Qt based browsers. This is everything I could tell you. BTW, if you afraid of C++, you could use Python. Python binding for Qt is excellent and there is PyQtWebEngine too :smile:

[2022-07-18 03:00] 3oheicrw commented on #249
I have to reinstall Windows the last time I tried a similar browser to this. That browser doesn't have an uninstaller, it automatically set itself as the default browser. If I changed from Windows then each start it will revert back to itself being the default. This is the reason I'm very afraid installing.

[2022-07-18 03:02] 3oheicrw commented on #241
Well, your current browser is pretty bad. Why don't you try to improve it but decided to start from scratch? No advertising blocking. Bookmarking doesn't work. You were right. Your browser is nothing but a reskin of Electron, nothing more nothing less. Please have a look at the Min browser, you will see how far people could do with Electron.

[2022-07-18 03:57] 3oheicrw commented on #241
@JaydenDev Sorry my friend. I know my words is a bit too harsh. But having to install it to be able to try it (you refused to provide 7z archives), only to find out it's not anything up to my expections. I'm really disappointed. BTW, if you have a preview of Catalyst Native available (of course please provide portable or at least 7z archives), I'm willing to try it and report bugs to you. I think

[2022-07-18 05:51] 3oheicrw commented on #241
@JaydenDev I'm really afraid. Are you just too ambitious? You have so many repos and I can only checked a few of them. The fact is most of your projects are failed (you admitted it). Do you think you will success with this Catalyst Native endeavor? It seems your language is JavaScript. Qt and C++ is not anything like JavaScript. Are you serious?

[2022-07-18 05:54] 3oheicrw commented on #230
Bookmarking is just broken for me. I clicked on the star and it does nothing. There is also no bookmark bar.

[2022-07-18 06:01] 3oheicrw commented on #241
Sorry if I annoyed you. I only interested in your project and wanted to help. Please let me know what I could do to help you and I will do what I can. Looking forward to try Catalyst Native. But now, good bye and good luck to you.

[2022-07-18 14:44] JaydenDev commented on #230
Enabled in settings?

[2022-07-20 00:34] 3oheicrw commented on #230
When the browser start it opened Preferences automatically and I have to close it. Do you think I didn't see the settings? :smile:

[2022-08-02 15:29] #241 closed

[2022-08-13 14:42] JaydenDev opened #260 "No, Catalyst 4.0 will never exist."
Catalyst will not be going native, or receive any updates. It's still here if you want to use it I guess...

[2022-09-03 21:08] #260 closed

[2022-09-03 21:09] JaydenDev commented on #230
This is a confirmed issue as of the latest release of Catalyst.

[2022-09-05 17:51] JaydenDev commented on #230
@texstar Fixed in the latest point release.

[2022-09-05 17:51] #230 closed

[2022-09-10 16:09] UniqueName12345 opened #276 "[Feature Request]: Make the home screen customizeable."
### Is your feature request related to a problem? Please describe.

Not many people would care much about Scratch to make it on the home screen, and even less about Aviate. DDG is a start, but what would be even better would be something where you can add sites to the home screen and change or remove already existing sites. For example, if people feel like using SearX, then let people use SearX. I

[2022-09-10 16:13] JaydenDev commented on #276
This is super complicated to implement... I'll try I guess.

[2022-09-10 16:21] UniqueName12345 commented on #276
Meta Idea: Also make a "Difficulty Scale" form element.

[2022-10-07 02:05] JaydenDev commented on #276
As of Catalyst v3.2.0, the home page will no longer receive feature updates and will just be a plain page, as a custom home page can be set by the user, therefore this feature request will be closed.

[2022-10-07 02:05] #276 closed

[2022-10-10 22:56] redstone-scratch opened #298 "Add a wiki page on how to create plugins"
It would make it easier to create plugins if you want us to create plugins :/

[2022-10-11 23:29] JaydenDev commented on #298
you probably read the post already

[2022-10-13 06:21] UniqueName12345 commented on #298
What if you haven't read the post?

I agree with this! This would be a majorly awesome change, and would be similar to how MDN has pages on how to make a FF browser extension!

[2022-10-14 23:23] JaydenDev commented on #298
it's really as simple as creating a folder in the plugins directory, adding a plugin.js, putting code in it, and adding the plugin name to plugins.config.js or whatever its called

[2022-10-15 03:35] UniqueName12345 commented on #298
Compare this with making a FF browser extension where you make a folder, place a manifest.json file directly under the folder in this format:
`{
  "manifest_version": 2,
  "name": "Borderify",
  "version": "1.0",
  "description": "Adds a red border to all webpages matching mozilla.org.",
  "icons": {
    "48": "icons/border-48.png"
  },
  "content_scripts": [
    {
      "matches": ["*://*.mozilla

[2022-10-15 03:39] UniqueName12345 commented on #249
Why was this closed under "not planned", again? This is a relatively simple feature, too! Just configure your actions script to automatically build a .zip file, then make a new one that converts the .zip file into a .7z file before uploading the .7z file onto releases.

What browser was it? Can you provide more info about the glitching? Does it have a github? Link it here and I will look into it f

[2022-10-15 14:12] JaydenDev commented on #298
for Catalyst its way simpler

[2022-10-17 08:14] UniqueName12345 commented on #298
[_[citation needed](something)_]

[2022-10-17 20:45] JaydenDev commented on #298
as simple as creating and editing files

[2022-10-18 08:32] UniqueName12345 commented on #298
And so is making a FF browser extension? I don't understand.

[2022-10-18 20:52] JaydenDev commented on #298
ive explained the process, its pretty simple

[2022-10-19 03:10] UniqueName12345 commented on #298
Except I gave steps on how to make a FF extension that are actually as simple as making a catalyst plugin, so what's easier about the than making a browser extension?

[2022-10-19 19:11] PPPDUD opened #300 "[Feature Request]: <Make an Android Linux app, since there's already ones for other distros>"
### Is your feature request related to a problem? Please describe.

The problem is that, sometimes I want to browse the net on my tablet, but Chrome has Family Link restrictions and Samsung Internet is too... awkward.

### Describe the solution you would like!

I would like for there to be an APK version. I expected to see an APK download atleast somewhere, but I couldn't find one.

### Describe a

[2022-10-19 20:17] JaydenDev commented on #300
This already exists, though isn't on the website. You can snag the latest APK from [this link](https://dl.jaydendev.repl.co/CatalystMobile.apk)

[2022-10-19 20:19] PPPDUD commented on #300
Thanks

On Wed, Oct 19, 2022, 4:18 PM JaydenDev ***@***.***> wrote:

[2022-10-19 20:22] PPPDUD commented on #300
How do I tell the search bar I'm ready to go to a URL?

[2022-10-19 20:23] JaydenDev commented on #300
There's a go button of sorts correct?

[2022-10-19 20:24] PPPDUD commented on #300
I can not see any such button.

On Wed, Oct 19, 2022, 4:24 PM JaydenDev ***@***.***> wrote:

[2022-10-19 20:25] PPPDUD commented on #300
![Screenshot_20221019_162441](https://user-images.githubusercontent.com/107440101/196796629-ee1f19e5-169c-42e9-9e49-fd44ec5558f8.jpg)

[2022-10-19 21:32] JaydenDev commented on #300
I believe that's v1.0, and not a functional version like v1.1 or v1.2, can you figure out what version your running?

[2022-10-19 21:33] PPPDUD commented on #300
V1.0. Where do I get the new version?

On Wed, Oct 19, 2022, 5:32 PM JaydenDev ***@***.***> wrote:

[2022-10-23 22:17] #300 closed

[2022-10-23 22:17] #298 closed

[2022-10-24 03:47] UniqueName12345 commented on #298
And why did you close it as completed if there still isn't a page on how to create plugins, like @redstone-scratch asked in the original post?

[2022-10-31 03:43] Steb03 commented on #143
What's wrong with Ukraine?